<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head> <meta charset="UTF-8" > </head>

<body layout:fragment="content">

  <script type="text/javascript">
  var delete_permission = function(id,name){
    showConfirmDialog('確認刪除','確定要刪除 ' + name + ' 的權限嗎?',function(){
      $.ajax({
        type: 'DELETE',
        url: "/permission/delete/" + id,
        dataType: 'json',
        success: function(result){
          location.reload();
        }
      });
    });
  }
  
  var menu_synchronize = function(){
    showConfirmDialog('確認','確認要重製選單?',function(){
      $.ajax({
        type: 'DELETE',
        url: "/menu/menuSynchronize",
        dataType: 'json',
        success: function(result){
          if(result.status = 'success'){
            alert("更新完成，請重新登入");
          }
        }
      });
    });
  }
  </script>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8">
      <div class="card">
        <div class="card-header">
          <span class="glyphicon glyphicon-align-justify"></span>權限 - 列表
          <a th:href="@{/permission/add}" class="btn btn-primary a-btn-second btn-sm">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>新增
          </a>
          <a href="javascript:;" onclick="menu_synchronize()" class="btn btn-warning a-btn-first btn-sm">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>選單重置
          </a>
        </div>
        <div class="card-body">
          <table class="table table-hover table-responsive-sm">
            <thead class="center">
              <tr>
                <th scope="col">#</th>
                <th scope="col">權限名稱</th>
                <th scope="col">對應選單</th>
              </tr>
            </thead>
            <tbody class="center">
              <tr>
                <th th:if="${permissions.empty}" colspan="3">沒有資料</th>
              </tr>
              <tr th:unless="${permissions.empty}" th:each="per,iterStar:${permissions}" th:object="${per}">
                <td>
                  <a th:href="@{/permission/view/{permissionId}(permissionId=*{id})}" class="btn btn-secondary btn-sm">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>檢視
                  </a>
                  <a th:href="@{/permission/edit/{permissionId}(permissionId=*{id})}" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改
                  </a>
                  <a th:onclick="|delete_permission(__*{id}__,'__*{name}__')|" href="javascript:;" class="btn btn-danger btn-sm ">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>刪除
                  </a>
                </td>
                <td>[[*{name}]]</td>
                <td>[[|*{menu.menuName} : *{menu.name}|]]</td>
              </tr>
            </tbody>
          </table>
          <div th:if="${permissions.totalPages gt 1}" >
            <div th:replace="~{comm/page :: page01(entity=${permissions})}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>