<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head> <meta charset="UTF-8" ></head>

<body layout:fragment="content">
  <title th:if="${funcType eq 'add'}"> 權限 - 新增</title>
  <title th:if="${funcType eq 'view'}"> 權限 - 檢視</title>
  <title th:if="${funcType eq 'edit'}"> 權限 - 修改</title>
  <script type="text/javascript">
  $().ready(function(){

    var index = $("#detail_table tbody tr").length;
    $("#add_permission_detail").click(function(){
      var str = '';
      str +="<tr id='tr_detail_" + index + "'>";
      str +="  <td>";
      str +="    <a herf='javascript:;' onclick='delete_detail(this,\"detail_" + index + "\","+index+")' > 刪除 </a>";
      str +="    <input type='hidden' id='detail_" + index + "' name='detail[" + index + "].status' value='A' />";
      str +="  </td>";
      str +="  <td>";
      str +="    <input name='detail[" + index + "].type' />";
      str +="  </td>";
      str +="  <td>";
      str +="    <input name='detail[" + index + "].name' />";
      str +="  </td>";
      str +="  <td>";
      str +="    <label><input type='radio' value='true' name='detail[" + index + "].isSuperAdmin' />是</label>";
      str +="    <label><input type='radio' value='false' name='detail[" + index + "].isSuperAdmin' />否</label>";
      str +="  </td>";
      str +="</tr>"
      $("#detail_table").append(str);
      index++;
    });
    
    delete_detail = function(btnEvent, statusId , index){
      var statusEvnet = $("#" + statusId);
      switch(statusEvnet.val()){
        case "A":
          $("#tr_detail_" + index).hide(500,function(){
            $(this).remove();
          });
          break;
        case "U":
          $(btnEvent).text("存檔後刪除");
          statusEvnet.val("D");
          break;
        case "D":
          $(btnEvent).text("刪除");
          statusEvnet.val("U");
          break;
      }
    }
    
  });
  </script>
  <form th:action="@{/permission/save}" method="post" th:object="${permission}">
    
    <div class="row"> <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-7"> <div class="col">
      <div class="card">
        <div class="card-header" toggleId="l-location-toggle">
          <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div class="card-body" toggleId="l-location-toggle">
          
          <table class="table">
             <tr>
              <th>名稱</th>
              <td th:if="${funcType eq 'add' }">
                <input name="name" />
              </td>
              <td th:if="${funcType eq 'edit' }">
                <input type="hidden" th:value="*{id}" name="id" />
                <input th:value="*{name}" name="name" />
              </td>
              <td th:if="${funcType eq 'view' }">
                <span th:text="*{name}" ></span>
              </td>
             </tr>
             <tr>
              <th>對應選單</th>
              <td th:if="${funcType eq 'add' }">
                <input name="menuName" />
              </td>
              <td th:if="${funcType eq 'edit' }">
                <input th:value="*{menuName}" name="menuName" />
              </td>
              <td th:if="${funcType eq 'view' }">
                <span th:text="*{menuName}" ></span>
              </td>
             </tr>
             
             <tr>
              <th>細項</th>
              <td>
                <a th:if="${funcType eq 'edit' || funcType eq 'add'}" herf="javascript:;" id="add_permission_detail" > 新增 </a>
                <table id="detail_table">
                  <thead>
                    <tr>
                      <th th:if="${funcType eq 'edit' || funcType eq 'add'}">#</th>
                      <th>代號</th>
                      <th>名稱</th>
                      <th>超級使用者</th>
                    </tr>
                  </thead>
                  <tbody th:if="${funcType ne 'add'}">
                    <tr  th:each="detail,iter:*{details}" th:object="${detail}" th:id="|tr_detail_${iter.index}|">
                      <td th:if="${funcType eq 'edit'}">
                        <a href="javascript:;" th:onclick="|delete_detail(this,'detail_${iter.index}',${iter.index})|" > 刪除 </a>
                        <input type="hidden" th:id="|detail_${iter.index}|" th:name="|detail[${iter.index}].status|" value="U" />
                      </td>
                      
                      <td th:if="${funcType eq 'edit'}">
                        <input th:value="*{type}" th:name="|detail[${iter.index}].type|" readonly />
                      </td>
                      <td th:if="${funcType eq 'edit'}">
                        <input th:value="*{name}" th:name="|detail[${iter.index}].name|" />
                      </td>
                      <td th:if="${funcType eq 'edit'}">
                        <label><input type='radio' value='true' th:name='|detail[${iter.index}].isSuperAdmin|' th:checked="*{isSuperAdmin}" />是</label>
                        <label><input type='radio' value='false' th:name='|detail[${iter.index}].isSuperAdmin|' th:checked="*{not isSuperAdmin}" />否</label>
                      </td>
                      
                      <td th:if="${funcType eq 'view'}">
                        <span th:text="*{type}"></span>
                      </td>
                      <td th:if="${funcType eq 'view'}">
                        <span th:text="*{name}"></span>
                      </td>
                      <td th:if="${funcType eq 'view'}">
                        <span th:text="*{isSuperAdmin}?'是' :'否'"></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
             </tr>
            <tfoot>
              <tr th:if="${funcType eq 'edit' || funcType eq 'view'}">
                <td colspan="2">
                  <span th:text="*{createDate}"></span>
                  <span th:text="*{modifyDate}"></span>
                </td>
              </tr>
              <tr th:if="${funcType eq 'edit' || funcType eq 'add'}">
                <td colspan="2">
                  <input type="submit" />
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div> </div> </div>
  </form>
</body>
</html>