<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head> <meta charset="UTF-8" ></head>

<body layout:fragment="content">
  <title th:if="${funcType eq 'add'}"> 權限 - 新增</title>
  <title th:if="${funcType eq 'view'}"> 權限 - 檢視</title>
  <title th:if="${funcType eq 'edit'}"> 權限 - 修改</title>
  <script type="text/javascript">
  </script>
  <form th:action="@{/permission/save}" method="post" th:object="${permission}">
    
    <div class="row"> <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-7"> <div class="col">
      <div class="card">
        <div class="card-header" toggleId="l-location-toggle">
          <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div class="card-body" toggleId="l-location-toggle">
          <table class="table table-hover table-responsive-sm hide-in-phone">
             <tr>
              <th>名稱</th>
              <td>
                <input th:value="*{name}" />
              </td>
             </tr>
             <tr>
              <th>備註</th>
              <td>
                <input th:value="*{remarks}" />
              </td>
             </tr>
             <tr>
              <th>細項</th>
              <td>
                <table>
                  <thead>
                    <tr>
                      <th>代號</th>
                      <th>名稱</th>
                      <th>備註</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="detail:*{details}" th:object="${detail}">
                      <td>
                        <input th:value="*{type}" />
                      </td>
                      <td>
                        <input th:value="*{name}" />
                      </td>
                      <td>
                        <input th:value="*{remarks}" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
             </tr>
            <tfoot>
              <tr>
                <td colspan="2">
                  <input type="submit" />
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div> </div> </div>
  </form>
</body>
</html>