<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head> <meta charset="UTF-8"> <title>LineUser - 列表</title> </head>

<body layout:fragment="content">
  <script type="text/javascript">
  reload_line_user_information = function(){
    
   $.ajax({
     type: 'POST',
     url: '/line/user/reloadLineUserInformation',
     dataType: 'json',
     success: (result) =>{
       if(result.status == 'success'){
         location.reload();
       }else{
         alert("更新失敗");
       }
     },
     error: function (XMLHttpRequest, textStatus, errorThrown) {
       alert("更新失敗");
     }
   });
   
  }
  </script>
  
  <div class="row"> <div class="col-12"> <div class="card">
    <div class="card-header" >
      <div class="card-header-left">
        <span class="glyphicon glyphicon-align-justify"></span>LineUser - 列表
      </div>
      <div class="card-header-right">
        <a href="javascript:;" class="btn btn-warning btn-sm" onclick="reload_line_user_information()" >
          <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>重新讀取
        </a>
      </div>
    </div>
    <div class="card-body" >

      <table class="table table-hover table-responsive-sm">
        <thead class="center">
          <tr>
            <th scope="col" class="text-nowrap">編號</th>
            <th scope="col" class="text-nowrap">照片</th>
            <th scope="col" class="text-nowrap">姓名</th>
            <th scope="col" class="text-nowrap">狀態消息</th>
          </tr>
        </thead>
        <tbody class="center">
          <tr th:if="${users.empty}">
            <th colspan="2">沒有資料</th>
          </tr>
          <tr th:unless="${users.empty}" th:each="user,itemStar:${users}" th:object="${user}">
            <td class="text-nowrap">[[*{userId}]]</td>
            <td><img width="100px" th:src="*{pictureUrl}"></img></td>
            <td class="text-nowrap">[[*{userName}]]</td>
            <td class="text-nowrap">[[*{statusMessage}]]</td>
          </tr>
        </tbody>
      </table>
      <div th:if="${users.totalPages gt 1}" >
        <div th:replace="~{comm/page :: page01(entity=${users})}"></div>
      </div>
      
    </div> 
  </div> </div> </div>
</body>
</html>