<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head>
<meta charset="UTF-8">
<title>Log</title>
</head>

<body layout:fragment="content">
  <script type="text/javascript">
  $().ready(function(){

  	dateTimePicke("datetimePicker","begDt","endDt");
  	
  	$("#auto_location").autocomplete({
      minLength: 0,
      source: function(request,response){
        $.ajax({
          method: 'post',
          url: '/location/autocomplete/getAll',
          data: request,
          dataType: 'json',
          success: function(result){
            var data = [];
          result.forEach((d) => {
              data.push({ label: d.name + ":" + d.address, value: d.name + ":" + d.address, object: d });
          });
            response(data);
          }
        });
      },
      select: function(event,ui){
        var obj = ui.item.object;
        $("#locationId").val(obj.id);
      }
    })
    .blur(function(){
      $(this).autocomplete('enable');
    })
    .focus(function () {
      $(this).autocomplete('search', '');
    });
  	
  	$("#auto_line_user").autocomplete({
      minLength: 0,
      source: function(request,response){
        $.ajax({
          method: 'post',
          url: '/line/user/autocomplete/getAll',
          data: request,
          dataType: 'json',
          success: function(result){
            var data = [];
          result.forEach((d) => {
              data.push({ label: d.userName, value: d.userName , object: d });
          });
            response(data);
          }
        });
      },
      select: function(event,ui){
        var obj = ui.item.object;
        $("#lineUserId").val(obj.userId);
      }
    })
    .blur(function(){
      $(this).autocomplete('enable');
    })
    .focus(function () {
      $(this).autocomplete('search', '');
    });
  	
  	$("#auto_trigger").autocomplete({
      minLength: 0,
      source: function(request,response){
        var locationId = $("#locationId").val();
        $.ajax({
          method: 'post',
          url: '/wf8266/autocomplete/getAllWf8266DetailWithLocationIdAndName',
          data: { locationId:locationId  , name:request.term },
          dataType: 'json',
          success: function(result){
            var data = [];
            console.log(result)
            if(result.length == 0){
              data.push({ value: '找不到資料' });
            }
            result.forEach((d) => {
                data.push({ label: d.name, value: d.name, object: d });
            });
            response(data);
          }
        });
      },
      select: function(event,ui){
        var obj = ui.item.object;
        console.log(obj);
        $("#triggerText").val(obj.triggertext);
      }
    })
    .blur(function(){
      $(this).autocomplete('enable');
    })
    .focus(function () {
      $(this).autocomplete('search', '');
    });
  	
  });
  </script>
  
  <form th:action="@{/line/log/list}" method="get">
    <div class="row"> <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-7"> <div class="card">
      <div class="card-header" toggleId='a'>
        <span class="glyphicon glyphicon-align-justify"></span>查詢
      </div>
      
      <div class="card-body" toggleId='a' >
        <table class="table table-hover table-responsive-sm col-11">
          <tbody>
            <tr>
              <th>時間區間</th>
              <td>
                <input type="hidden" id="begDt" name="begDt" th:value="${param.begDt}" />
                <input type="hidden" id="endDt" name="endDt" th:value="${param.endDt}" />
                <input id="datetimePicker" class="form-control" readonly />
              </td>
            </tr>
            <tr>
              <th>Location</th>
              <td>
                <input type="hidden" id="locationId" name="locationId" th:value="${param.locationId}" />
                <input type="text" class="form-control" id="auto_location" name="auto_location" th:value="${param.auto_location}" />
              </td>
            </tr>
            <tr>
              <th>LineUser</th>
              <td>
                <input type="hidden" id="lineUserId" name="lineUserId" th:value="${param.lineUserId}" />
                <input type="text" class="form-control" id="auto_line_user" name="auto_line_user" th:value="${param.auto_line_user}" />
              </td>
            </tr>
            <tr>
              <th>TriggerText</th>
              <td>
                <input type="hidden" id="triggerText" name="triggerText" th:value="${param.triggerText}" />
                <input type="text" class="form-control" id="auto_trigger" name="auto_trigger" th:value="${param.auto_trigger}" />
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4">
                <input type="submit" /> <a href="javascript:;">下載(X)</a>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div> </div> </div>
  </form>
  
  <div class="row"> <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-7"> <div class="card">
    <div class="card-header" toggleId='b'>
      <span class="glyphicon glyphicon-align-justify"></span>列表
    </div>
    <div class="card-body" toggleId='b'>
      <table class="table table-hover">
        <thead class="center">
          <tr>
            <th scope="col">時間</th>
            <th scope="col">姓名</th>
            <th scope="col">行為</th>
          </tr>
        </thead>
        <tbody class="center">
<!--           <tr th:each="log:${logWf8266s}"> -->
<!--             <th> -->
<!--               <span th:text="${#temporals.format(log.createDate, 'yyyy/MM/dd HH:mm:ss.SSS')}"></span> -->
<!--             </th> -->
<!--             <td> -->
<!--               <span th:text="${log.lineUser?.userName}"></span> -->
<!--             </td> -->
<!--             <td> -->
<!--               <span  th:text="${log.wf8266Detail?.name}"></span> -->
<!--             </td> -->
<!--           </tr> -->
        </tbody>
      </table>
<!--       <div th:if="${logWf8266s.totalPages gt 1}" > -->
<!--         <div th:replace="~{comm/page :: page01(entity=${logWf8266s})}"></div> -->
<!--       </div> -->
    </div>
  </div> </div> </div>
	
</body>
</html>