<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head> <meta charset="UTF-8"> <title>LineUser - 列表</title> </head>

<body layout:fragment="content">
  <script type="text/javascript">
    
  </script>
  
  <div class="row"> <div class="col-12"> <div class="card">
    <div class="card-header" >
      <span class="glyphicon glyphicon-align-justify"></span>LineUser - 列表
    </div>
    <div class="card-body" >

      <table class="table table-hover table-responsive-sm table-striped">
        <thead class="center">
          <tr>
            <th scope="col">編號</th>
            <th scope="col">姓名</th>
          </tr>
        </thead>
        <tbody class="center">
          <tr th:if="${users.empty}">
            <th colspan="2">沒有資料</th>
          </tr>
          <tr th:unless="${users.empty}" th:each="user,itemStar:${users}" th:object="${user}">
            <td>[[*{userId}]]</td>
            <td>[[*{userName}]]</td>
          </tr>
        </tbody>
      </table>
      
      <div th:if="${users.totalPages gt 1}" >
        <div th:replace="~{comm/page :: page01(entity=${users})}"></div>
      </div>
      
    </div> 
  </div> </div> </div>
</body>
</html>