<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head>
<meta charset="UTF-8">
<title>Log</title>
</head>

<body layout:fragment="content">
  <script type="text/javascript">
  $().ready(function(){

    $('#log_table').DataTable({
      "paging":   true, // 分頁
      "ordering": true, // 排序
      "info":     true, // 訊息
      stateSave: true, // 紀錄狀態 
      pagingType: 'first_last_numbers',
      language: {
        "search": "搜尋:",
        "lengthMenu": "每頁顯示_MENU_筆",
        "zeroRecords": "找不到任何資料",
        "infoEmpty": "",
        "info": "第_PAGE_頁，共_PAGES_頁，有_TOTAL_筆資料",
        "infoFiltered": "(從_MAX_筆資料中過濾)",
        "processing": "資料處理中...",
        "paginate": {
          "first":      "第一頁",
          "last":       "最後一頁",
          "next":       "下一頁",
          "previous":   "上一頁"
        }
      }
    });
  });
  </script>
  
  <div class="row"> <div class="col-12"> <div class="card">
    <div class="card-header">
      <span class="glyphicon glyphicon-align-justify"></span>列表
    </div>
    <div class="card-body">
      <table id="log_table" class="table table-hover">
        <thead class="center">
          <tr>
            <th scope="col" class="text-nowrap">時間</th>
            <th scope="col" class="text-nowrap">行為</th>
          </tr>
        </thead>
        <tbody class="center">
          <tr th:each="log:${logIots}">
            <th>
              <span th:text="${#temporals.format(log.createDate, 'yyyy/MM/dd HH:mm:ss')}"></span>
            </th>
            <td>
              [[${mapMember[log.memberId].fullName}]] 執行 [[${mapLocation[log.locationId].name}]] - [[${log.wf8266DetailName}]]
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> </div> </div>
	
</body>
</html>