<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head>
<meta charset="UTF-8">
<title>LineUser - 列表</title>
</head>
<body layout:fragment="content">
  <script type="text/javascript">
  $().ready(function(){
	  $("a[id^='delete_user']").click(function(){
		  var lineUserId = $(this).attr("lineUserId");
		  $.ajax({
        type: 'DELETE',
        url: `/line/user/delete/${lineUserId}`,
        dataType: 'json',
        success: (result) =>{
          
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          
        }
      });
	  });
  });
  
  </script>
  <div th:if="|${funcType eq 'view' and info_status ne null}|" class="alert alert-success" role="alert" th:text="${info_status}"></div>
  <div th:if="|${funcType eq 'view' and error_status ne null}|" class="alert alert-warning" role="alert" th:text="${error_status}"></div>
	<div class="row">
		<div class="col-12 col-sm-11 col-md-11 col-lg-11 col-xl-11">
			<div class="card">
				<div class="card-header" toggleId="l-line-user-toggle">
					<span class="glyphicon glyphicon-align-justify"></span>LineUser - 列表
				</div>
				<div class="card-body" toggleId="l-line-user-toggle">
					<table class="table table-hover table-responsive-sm">
						<thead class="center">
							<tr>
								<th scope="col">操作</th>
								<th scope="col">姓名</th>
								<th scope="col">是否啟用</th>
								<th scope="col">使用時間</th>
								<th scope="col">建立時間</th>
								<th scope="col">修改時間</th>
							</tr>
						</thead>
						<tbody class="center">
                            <tr>
                              <th th:if="${users.empty}" colspan="6">沒有資料</th>
                            </tr>
							<tr th:unless="${users.empty}" th:each="user,itemStar:${users}">
								<th scope="row">
						          <a th:href="@{/line/user/edit/{userId}(userId=${user.userId})}" class="btn btn-success btn-sm">
						          	<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改
						          </a>
						          <a th:id="|delete_user_${itemStar.index}|" th:lineUserId="${user.userId}" href="javascript:;" class="btn btn-danger btn-sm">
						          	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>刪除
						          </a>
								</th>
								<td th:text="${user.userName}">姓名</td>
								<td>
								  <span th:if="${user.isUse}">是</span>
						          <span th:unless="${user.isUse}">否</span>
						        </td>
								<td>
								  <span th:text="${user.begDt}"></span> 至
								  <span th:text="${user.endDt}"></span>
								</td>
								<td>
								  <span th:text="${user.createDate}"></span>
								</td>
								<td>
					        	  <span th:text="${user.modifyDate}"></span>
								</td>
							</tr>
						</tbody>
					</table>
                    <div th:if="${users.totalPages gt 1}" >
                      <div th:replace="~{comm/page :: page01(entity=${users})}"></div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>