<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head>
<meta charset="UTF-8">
<title>LineRichMenu - 列表</title>
</head>
<body layout:fragment="content">
  
<script th:inline="javascript">
"use strict";
$().ready(()=>{
	
  /** 刪除單筆 RichMenu **/
  $(".rich_menu_delete").click(function(event){
    var richMenuId = $(event.currentTarget).attr("richMenuId")
    $.ajax({
      type: 'DELETE',
      url: `/line/rich_menu/delete/${richMenuId}`,
      dataType: 'json',
      success: (result) =>{
        
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        
      }
    });
  });
  
  /** 同步 Line Server 資料庫 **/ // /line/rich_menu/ajaxGetRichMenuDataOnLineServer
  $("#rich_menu_synchronize").click(function(){
    $.ajax({
      type: 'POST',
      url: '/line/rich_menu/ajax/getRichMenuDataOnLineServer',
      dataType: 'json',
      success: (result) =>{
        console.log(result);
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        
      }
    });
  });
  
});

</script>

  <div class="row"> <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8"> <div class="card">
    <div class="card-header">
      <span class="glyphicon glyphicon-align-justify"></span>LineRichMenu - 列表
      <a th:href="@{/line/rich_menu/add}" class="btn btn-primary btn-sm a-btn-first">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>新增
      </a>
      <a href="javascript:;" id="rich_menu_synchronize" class="btn btn-warning btn-sm a-btn-second">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>更新
      </a>
    </div>
    <div class="card-body">
      <table id="richMenuTable" class="table table-hover table-responsive-sm">
        <thead class="center">
          <tr>
            <th scope="col">操作</th>
            <th scope="col">名稱</th>
            <th scope="col">圖片</th>
            <th scope="col">建立時間</th>
          </tr>
        </thead>
        <tbody class="center">
          <tr th:if="${richMenus.empty}">
            <th colspan="4">沒有資料</th>
          </tr>
        
          <tr th:unless="${richMenus.empty}" th:each="richMenu,itemStar:${richMenus}" th:object="${richMenu}">
            <th scope="row" th:richMenu="*{richMenuId}">
              <span style="display: none;"  th:text="*{richMenuId}">richMenuId</span>
              <a th:href="@{/line/rich_menu/edit/{richMenuId}(richMenuId=*{richMenuId})}" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改
              </a>
              <a class="btn btn-danger btn-sm rich_menu_delete" href="javascript:;" th:richMenuId="*{richMenuId}">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>刪除
              </a>
            </th>
            <td th:text="*{name}">name</td>
            <td>
              <img th:if="|*{imageBase64 ne null }|" width="300px" th:src="@{|data:image/png;base64,*{imageBase64}|}" />
            </td>
            <td>
              <span th:text="*{#temporals.format(createDate, 'yyyy/MM/dd HH:mm:ss')}"></span>
            </td>
            <td style="display: none;">
              <span th:each="area:*{areas}" th:object="${area.action}" th:utext="|*{data}<BR>|"></span>
            </td>
          </tr>
        </tbody>
      </table>
      <div th:if="${richMenus.totalPages gt 1}" >
        <div th:replace="~{comm/page :: page01(entity=${richMenus})}"></div>
      </div>
    </div>
  </div> </div> </div>
  
</body>
</html>