<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head>
<meta charset="UTF-8">
<title>LineRichMenu - 列表</title>
</head>
<body layout:fragment="content">
  
<script th:inline="javascript">
  "use strict";

  var rich_menu_delete = function(id,name){
    showConfirmDialog('確認刪除','確定要刪除 ' + name + ' 選單嗎?',function(){
      $.ajax({
        type: 'DELETE',
        url: "/line/rich_menu/delete/" + id,
        dataType: 'json',
        success: (result) =>{
          location.reload();
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          alert("該錶使用中");
        }
      });
    });
  }
  
  /** 同步 Line Server 資料庫 **/ // /line/rich_menu/ajaxGetRichMenuDataOnLineServer
//   var rich_menu_synchronize = function(){
//     showConfirmDialog('確定','確定後，刷新選單',function(){
//       $.ajax({
//         type: 'POST',
//         url: '/line/rich_menu/ajax/getRichMenuDataOnLineServer',
//         dataType: 'json',
//         success: (result) =>{
//           location.reload();
//         },
//         error: function (XMLHttpRequest, textStatus, errorThrown) {
//           location.reload();
//         }
//       });
//     });
//   }

</script>
  <div class="row"> <div class="col-12"> <div class="card">
    <div class="card-header">
      <div class="card-header-left"> <span class="glyphicon glyphicon-align-justify"></span>Line@選單 - 列表</div>
      <div class="card-header-right">
        <a th:href="@{/line/rich_menu/add}" class="btn btn-primary btn-sm">
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>新增
        </a>
<!--       <a href="javascript:;" th:onclick="rich_menu_synchronize()" class="btn btn-warning btn-sm"> -->
<!--         <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>更新 -->
<!--       </a> -->
      </div>
    </div>
    <div class="card-body">
      <table id="richMenuTable" class="table table-hover table-responsive-sm hide-in-phone">
        <thead class="center">
          <tr>
            <th scope="col">操作</th>
            <th scope="col">名稱</th>
            <th scope="col">圖片</th>
          </tr>
        </thead>
        <tbody class="center">
          <tr th:if="${richMenus.empty}">
            <th colspan="3">沒有資料</th>
          </tr>
        
          <tr th:unless="${richMenus.empty}" th:each="richMenu,itemStar:${richMenus}" th:object="${richMenu}">
            <th scope="row" th:richMenu="*{richMenuId}">
              <span style="display: none;"  th:text="*{richMenuId}">richMenuId</span>
<!--               <a class="btn btn-sm btn-secondary" th:href="@{/line/rich_menu/edit/{richMenuId}(richMenuId=*{richMenuId})}" > -->
<!--                 <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>檢視 -->
<!--               </a> -->
<!--               <a th:href="@{/line/rich_menu/edit/{richMenuId}(richMenuId=*{richMenuId})}" class="btn btn-success btn-sm"> -->
<!--                 <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改 -->
<!--               </a> -->
              <a class="btn btn-danger btn-sm" href="javascript:;" th:onclick="|rich_menu_delete('__*{richMenuId}__','__*{name}__')|" th:richMenuId="*{richMenuId}">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>刪除
              </a>
            </th>
            <td th:text="*{name}">name</td>
            <td>
              <img th:if="|*{image ne null }|" width="150px" th:src="@{|data:image/png;base64,*{image}|}" />
            </td>
            <td style="display: none;">
              <span th:each="area:*{richMenuResponse.areas}" th:object="${area.action}" th:utext="|*{data}<BR>|"></span>
            </td>
          </tr>
        </tbody>
      </table>
      <table id="richMenuTable" class="table table-hover table-responsive-sm show-on-phone">
        <thead class="center">
          <tr>
            <th scope="col">操作</th>
            <th scope="col">名稱</th>
            <th scope="col">圖片</th>
          </tr>
        </thead>
        <tbody class="center">
          <tr th:if="${richMenus.empty}">
            <th colspan="3">沒有資料</th>
          </tr>
        
          <tr th:unless="${richMenus.empty}" th:each="richMenu,itemStar:${richMenus}" th:object="${richMenu}">
            <th scope="row" th:richMenu="*{richMenuId}" class="td-first">
              <span style="display: none;"  th:text="*{richMenuId}">richMenuId</span>
<!--               <a class="btn btn-sm btn-secondary" th:href="@{/line/rich_menu/edit/{richMenuId}(richMenuId=*{richMenuId})}" > -->
<!--                 <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>檢視 -->
<!--               </a> -->
<!--               <a th:href="@{/line/rich_menu/edit/{richMenuId}(richMenuId=*{richMenuId})}" class="btn btn-success btn-sm"> -->
<!--                 <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改 -->
<!--               </a> -->
              <a class="btn btn-danger btn-sm" href="javascript:;" th:onclick="|rich_menu_delete('__*{richMenuId}__','__*{name}__')|" th:richMenuId="*{richMenuId}">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </a>
            </th>
            <td th:text="*{name}">name</td>
            <td>
              <img th:if="|*{image ne null }|" width="150px" th:src="@{|data:image/png;base64,*{image}|}" />
            </td>
            <td style="display: none;">
              <span th:each="area:*{richMenuResponse.areas}" th:object="${area.action}" th:utext="|*{data}<BR>|"></span>
            </td>
          </tr>
        </tbody>
      </table>
      <div th:if="${richMenus.totalPages gt 1}" >
        <div th:replace="~{comm/page :: page01(entity=${richMenus})}"></div>
      </div>
    </div>
  </div> </div> </div>
  
</body>
</html>