<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head><meta charset="UTF-8"></head>

<body layout:fragment="content">
  <title th:if="${funcType eq 'view' }">LineUser - 檢視</title>
  <title th:if="${funcType eq 'edit' }">LineUser - 修改</title>
  <script type="text/javascript">
  $().ready(function(){
  	dateTimePicke("datetimePicker","begDt","endDt");
  	
  	$("#submit_btn").click(function(){
  	  var jsonData = $("#line_user_form").toJson();
  	  console.log(jsonData);
  	  $.ajax({
        method: 'post',
        url: '/line/user/save',
        data: jsonData,
        dataType: 'json',
        success: function(result){
          if(result.status === 'success'){
            window.location.replace("/line/user/view/" + result.data.userId);
          }else{
            console.log(result);
          }
        },
        error: function(error){
          console.log(a,b,c)
        }
      });
  	});
  	
  });
  </script>
  <div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
  <div th:if="|${funcType eq 'view' and info_status ne null}|" class="alert alert-success" role="alert" th:text="${info_status}"></div>
  <div th:if="|${funcType eq 'view' and error_status ne null}|" class="alert alert-warning" role="alert" th:text="${error_status}"></div>
  </div>
  </div>
<!--  th:action="@{/line/user/save}" method="post" -->
  <form id="line_user_form">
    <div class="row"><div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8"><div class="card">
        <div class="card-header" >
          <span class="glyphicon glyphicon-align-justify"></span>
          <span th:if="${funcType eq 'view'}">LineUser - 檢視
            <a th:href="@{/line/user/edit/{userId}(userId=${user.userId})}" class="btn btn-success a-btn-second btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改 </a>
          </span>
          <span th:if="${funcType eq 'edit'}">LineUser - 修改</span>
        </div>
        <div class="card-body" >  
        
          <div class="row">
          
            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-5">
              <label class="font-weight-bold">使用者編號</label><br>
              <input th:if="${funcType eq 'edit' || funcType eq 'view'}" th:disabled="${funcType eq 'view'}"class="form-control" name="userId" th:value="${user.userId}" />
            </div>
            
            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-5">
              <label class="font-weight-bold">使用者名稱</label><br>
              <input th:if="${funcType eq 'edit' || funcType eq 'view'}" th:disabled="${funcType eq 'view'}" class="form-control" id="userName" name="userName" th:value="${user.userName}"/>
            </div>
  
<!--             <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-5"> -->
<!--               <label class="font-weight-bold">當前使用選單</label> -->
<!--               <div th:if="${funcType eq 'edit' || funcType eq 'view'}" > -->
<!--                 <select th:disabled="${funcType eq 'view'}" class="form-control select-sm" name="richMenuId"> -->
<!--                   <option value="">請選擇</option> -->
<!--                   <option th:each="menu:${allRichMenu}" th:object="${menu}" th:value="*{richMenuId}" th:text="*{name}" th:selected="*{richMenuId} == ${user.richMenuId}"></option> -->
<!--                 </select> -->
<!--               </div> -->
<!--             </div>       -->
                      
            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-5">
              <label class="font-weight-bold">有效時限</label><br>
              <input type="hidden" id="begDt" name="begDt" th:value="${#temporals.format(user.begDt, 'yyyy-MM-dd HH:mm')}" />
              <input type="hidden" id="endDt" name="endDt" th:value="${#temporals.format(user.endDt, 'yyyy-MM-dd HH:mm')}" />
  <!--                 <input th:if="${funcType eq 'view'}" class="form-control" th:value="|${#temporals.format(user.begDt, 'yyyy-MM-dd HH:mm')}-${#temporals.format(user.endDt, 'yyyy-MM-dd HH:mm')}|" disabled /> -->
              <input th:if="${funcType eq 'edit' || funcType eq 'view'}" th:disabled="${funcType eq 'view'}" id="datetimePicker" class="form-control" />
            </div>
  
            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-5">
              <label class="font-weight-bold">是否啟用</label><br>
              <div th:if="${funcType eq 'edit' || funcType eq 'view'}">
                <label><input type="radio" th:disabled="${funcType eq 'view'}" id="isUseTrue" name="isUse" value="true" th:checked="${user.isUse}" />是</label>
                <label><input type="radio" th:disabled="${funcType eq 'view'}" id="isUseFalse" name="isUse" value="false" th:checked="${not user.isUse}"/>否</label>
              </div>
            </div> 
                         
          </div>
  
          <div class="row badge-margin justify-content-center hide-in-phone">
            <div class="badge badge-info text-wrap col-11 col-sm-11 col-md-11 col-lg-11 col-xl-4">
              <span th:text="|建立時間：  ${#temporals.format(user.createDate, 'yyyy/MM/dd HH:mm:ss')}|"></span>
            </div>&emsp;
            <div class="badge badge-info text-wrap col-11 col-sm-11 col-md-11 col-lg-11 col-xl-4">
              <span th:text="|修改時間：  ${#temporals.format(user.modifyDate, 'yyyy/MM/dd HH:mm:ss')}|"></span>
            </div>
          </div>
          
          <div class="row badge-margin justify-content-center show-on-phone">
            <div class="badge badge-info text-wrap col-11 col-sm-11 col-md-11 col-lg-11 col-xl-4">
              <span th:text="|建立時間：  ${#temporals.format(user.createDate, 'yyyy/MM/dd HH:mm:ss')}|"></span>
            </div>&emsp;
            <div class="badge badge-info text-wrap col-11 col-sm-11 col-md-11 col-lg-11 col-xl-4">
              <span th:text="|修改時間：  ${#temporals.format(user.modifyDate, 'yyyy/MM/dd HH:mm:ss')}|"></span>
            </div>
          </div>
          
          <div th:if="${funcType eq 'edit' || funcType eq 'add'}"><div class="line"></div></div>
          
          <div th:if="${funcType eq 'edit' || funcType eq 'add'}" class="row justify-content-center">
            <button type="button" id="submit_btn" class="btn btn-primary btn-sm">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>送出
            </button>
          </div>
          
        </div>
    </div> </div> </div>
  </form>
</body>
</html>