<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head>
<meta charset="UTF-8">
	<!-- CSS -->
	<link rel=stylesheet type="text/css" th:href="@{/css/edit_table_style.css}">
	
<title th:if="${funcType} == view">LineUser - 檢視</title>
<title th:if="${funcType} == edit">LineUser - 修改</title>
</head>
<body layout:fragment="content">

  <!-- <h1><a th:if="${funcType eq 'view'}">LineUser - 檢視</a></h1> -->
  <!-- <h1><a th:if="${funcType eq 'edit'}">LineUser - 修改</a></h1> -->
  
  <div th:if="|${funcType eq 'view' and info_status ne null}|" class="alert alert-success" role="alert" th:text="${info_status}"></div>
  <div th:if="|${funcType eq 'view' and error_status ne null}|" class="alert alert-warning" role="alert" th:text="${error_status}"></div>
  
  <form th:action="@{/line/user/save}" method="post">

  
	<div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<span class="glyphicon glyphicon-align-justify"></span>
					<a th:if="${funcType eq 'view'}">LineUser - 檢視</a>
  					<a th:if="${funcType eq 'edit'}">LineUser - 修改</a> 
  					<a th:if="${funcType eq 'view'}" th:href="@{/line/user/edit/{userId}(userId=${User.userId})}" class="btn btn-success btn-sm a-btn-second">
  						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改
  					</a>
				</div>
				<div class="card-body">
				    <table class="table table-responsive-sm">
				      <tbody>
				        <tr>
				          <th>使用者編號</th>
				          <td>
				            <input type="hidden" name="userId" th:value="${User.userId}" />
				            <span th:text="${User.userId}">UserId</span>
				          </td>
				        </tr>
				      
				        <tr>
				          <th>使用者名稱</th>
				          <td th:if="${funcType} == view"><span th:text="${User.userName}"></span></td>
				          <td th:if="${funcType} == edit"><input name="userName" th:value="${User.userName}" /></td>
				        </tr>
				      
				        <tr>
				          <th>是否啟用</th>
				          <td th:if="${funcType} == view"><span th:text="${User.isUse ? '是' : '否' }"></span></td>
				          <td th:if="${funcType} == edit">
				            <input type="radio" id="isUseTrue" name="isUse" value="true" th:checked="${User.isUse}" /> <label for="isUseTrue">是</label>
				            <input type="radio" id="isUseFalse" name="isUse" value="false" th:checked="not ${User.isUse}" /> <label for="isUseFalse">否</label>
				          </td>
				        </tr>
				        
				        <tr>
				          <th>有效時限</th>
				          <td th:if="${funcType} == view"><input type="datetime-local" name="begDt" th:value="${User.begDt}" /> &rArr; <input type="datetime-local" name="endDt" th:value="${User.endDt}" />
				          </td>
				          <td th:if="${funcType} == edit"><input type="datetime-local" name="begDt" th:value="${User.begDt}" /> &rArr; <input type="datetime-local" name="endDt" th:value="${User.endDt}" />
				          </td>
		
				        </tr>
				        <tr>
				          <th>當前使用選單</th>
				          <td th:if="${funcType} == view">
				            <span th:unless="${richMenu.richMenuId == null}" th:text="${richMenu.name}"></span>
				            <span th:if="${richMenu.richMenuId == null}" >無</span>
				          </td>
				          <td th:if="${funcType} == edit">
				            <select name="richMenuId">
				              <option value="">請選擇</option>
				              <option th:each="menu:${allRichMenu}" th:object="${menu}" th:value="*{richMenuId}" th:text="*{name}" th:selected="*{richMenuId} == ${richMenu.richMenuId}"></option>
				            </select>
				          </td>
				        </tr>
				      
				        <tr>
				          <td colspan="2">
				            <label>建立時間：<span th:text="${#temporals.format(User.createDate, 'yyyy/MM/dd HH:mm:ss')}"></span></label>
				            <label>修改時間：<span th:text="${#temporals.format(User.modifyDate, 'yyyy/MM/dd HH:mm:ss')}"></span></label>
				          </td>
				        </tr>
				      
				      </tbody>
				      <tfoot th:if="${funcType} == edit">
				        <tr>
				          <td colspan="2">
				          	<button type="submit" class="btn btn-primary btn-sm">
				          		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>送出
						  	</button>
				          </td>
				        </tr>
				      </tfoot>
				    </table>
    			</div>
			</div>
		  </div>
		</div>
	</div>
  </form>

</body>
</html>