<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head>
<meta charset="UTF-8">
<title th:if="${funcType eq 'add'}">LineRichMenu - 新增</title>
<title th:if="${funcType eq 'view'}">LineRichMenu - 檢視</title>
<title th:if="${funcType eq 'edit'}">LineRichMenu - 修改</title>
</head>
<style>
</style>
<body layout:fragment="content">
  <script th:inline="javascript">
  	var templateMap = {};
  	var templates = [[${templates}]];
  	templates.forEach(function(template){
  	  templateMap[template.id] = template;
  	})
  </script>

  <script type="text/javascript">
  
  var loadFile = function(event,id) {
    var output = document.getElementById(id);
    output.src = URL.createObjectURL(event.target.files[0]);
  }
  
  var create_rich_menu_list = function(select){
	var id = select.value;
	var template = templateMap[id];
	
	// 顯示選中的樣板圖片
  	if(template){
  	  var imageBase64 = template.image;
      $("#image_style").attr("src","data:image/png;base64," + imageBase64);
      create_rich_menu_action_table(template.template);
    }else{
      $("#image_style").removeAttr('src').replaceWith($("#image_style").clone());
    }
  	
  }
  
  var create_rich_menu_action_table = function(actionJson){
    $("#richMenuActionTable").find("tbody").find("tr").remove();
    // console.log(actionJson);
    
    if(actionJson && actionJson.areas){
      var size = actionJson.size;
      $("#menuSizeWidth").val(size.width);
      $("#menuSizeHeight").val(size.height);
      var areas = actionJson.areas;
      areas.forEach(function(area , index){
        $("#richMenuActionTable tbody").append(`
          <tr>
            <td  class="center">
              <input type="hidden" size="4" name="bounds[${index}].x" value="${area.bounds.x}" />
              <input type="hidden" size="4" name="bounds[${index}].y" value="${area.bounds.y}" />
              <input type="hidden" size="4" name="bounds[${index}].width" value="${area.bounds.width}" />
              <input type="hidden" size="4" name="bounds[${index}].height" value="${area.bounds.height}" />
              ${index + 1} 
            </td>
            <td  class="center">
              <select name="actions[${index}].type" onchange="change_action_detail(this,${index})">
                <option value="">請選擇</option>
                <option value="change_view">切換頁面</option>
                <option value="trigger_iot">觸發Iot</option>
              </select>
            </td>
            <td id="detail_${index}"></td>
          </tr>
        `);
      })
    }
  }
  
  var change_action_detail = function(event ,index){
    // console.log(event,index);
    var detail = $("#detail_" + index);
    detail.html('');
    switch(event.value){
    case 'change_view':
      var change_view_str = `至
      <input type="text" id="action_${index}" name="actions[${index}].data" FDCV="not-blank"/>
      
      `;
      detail.html(change_view_str);
    
      $("#action_" + index).autocomplete({
        minLength: 0,
        source: function(request,response){
          $.ajax({
            url: '/line/rich_menu/autocomplete/getRichMenu', data: request, dataType: 'json',
            success: function(result){
              var data = [];
              result.forEach(function(d){ data.push({ label: d.name, value: d.name }); });
              response(data);
            }
          });
        }
      })
      .blur(function(){ $(this).autocomplete('enable'); })
      .focus(function () { $(this).autocomplete('search', ''); });  
            
      break;
    case 'trigger_iot':
     var trigger_iot_str = `
       <div class="row">
         <div class="col-5">觸發
        	<input type="hidden" id="locationId_${index}" />
         	<input type="text" class="form-control" id="location_${index}" />
         </div>
         <div class="col-5">的
         	<input type="text" class="form-control" id="action_${index}" FDCV="not-blank" />
         </div>
       </div>
       <input type="hidden" id="action_data_${index}" name="actions[${index}].data" />
       <input type="hidden" id="action_text_${index}" name="actions[${index}].text" />
     `;
     detail.html(trigger_iot_str);
    
      $("#action_" + index).autocomplete({
        minLength: 0,
        source: function(request,response){
      	  var locationId = $("#locationId_" + index).val();
          $.ajax({
            method: 'post',
            url: '/wf8266/autocomplete/getAllWf8266DetailWithLocationIdAndName',
            data: {locationId:locationId, name: request.term},
            dataType: 'json',
            success: function(result){
              var data = [];
              result.forEach(function(d){ data.push({ label: d.name, value: d.name , obj: d }); });
              response(data);
            }
          });
        },
        select: function(event , ui){
          var obj = ui.item.obj;
          $("#action_text_" + index).val(obj.reply1);
          $("#action_data_" + index).val(obj.wf8266_sn + "_" + obj.name);
        }
      })
      .blur(function(){ $(this).autocomplete('enable'); })
      .focus(function () { $(this).autocomplete('search', ''); });  
      
      $("#location_" + index).autocomplete({
        minLength: 0,
        source: function(request,response){
        	$.ajax({
        	  method: 'post',
            url: '/location/autocomplete/getAll',
            data: request,
            dataType: 'json',
            success: function(result){
            	var data = [];
            	result.forEach(function(d){ data.push({ label: d.name, value: d.name, object: d }); });
              response(data);
            }
          });
        },
        select: function(event,ui){
          var index = this.id.split("_")[1];
          console.log(ui.item.object)
          $("#locationId_" + index).val(ui.item.object.id);
        }
      })
      .blur(function(){ $(this).autocomplete('enable'); })
      .focus(function () { $(this).autocomplete('search', ''); });  
      
      break;
    }
  }
  
  $().ready(function(){
    
    $("#rich_menu_submit").click(function(){
      if($("#rich_menu_form").form_verification()){
  	    return;
  	  }
      $("#rich_menu_form").submit();
    });
    
  });
  </script>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
      <div class="col">
        <div class="card border-info" style="border:3px #DCDCDC solid;">
	  	  <div class="card-header text-info" toggleId="u-rich-menu-notice-toggle">
	  	    <span class="glyphicon glyphicon-align-justify"></span>注意事項
	  	  </div>
	      <div class="card-body text-info" toggleId="u-rich-menu-notice-toggle">
	        <h5 class="card-text">
		      1. 圖片大小，小於 1Mb。<br>
		      2. 沒有功能的視窗，就不選擇。<br>
		      3. 選單名稱不得重複。<br>
		      4. 選單圖片尺寸必須為 (2500*843或2500*1686)<br>
		      5. 動作->切換頁面，轉跳的頁面，是以選單名稱切換，若找不到頁面，則切換無效。
	        </h5>
	      </div>
	    </div>
	  </div>
	</div>
  </div>

  <form id="rich_menu_form" method="post" th:action="@{/line/rich_menu/save}" enctype="multipart/form-data">
    <input th:if="${funcType eq 'edit'}" type="hidden" name="oldRichMenuId" th:value="${richMenu.richMenuId}" />
	<div class="row">

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
        <div class="col">
          <div class="card">    
		    <div class="card-header">
		      <span class="glyphicon glyphicon-align-justify"></span>
		      <span th:if="${funcType eq 'add'}">LineRichMenu - 新增</span>
		      <span th:if="${funcType eq 'edit'}">LineRichMenu - 修改</span>
		      <span th:if="${funcType eq 'view'}">LineRichMenu - 檢視</span>
		    </div>
		    <div class="card-body" th:object="${richMenu}">
		      <div class="row">
		        <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-10">
		          <label class="font-weight-bold"><span class="req-field">*</span>選單名稱</label><br>
		          <input th:if="${funcType eq 'add'}" class="form-control" id="name" name="name" FDCV="not-blank" />
		          <input th:if="${funcType eq 'edit' || funcType eq 'view'}" class="form-control" id="name" name="name" th:value="*{name}"  th:disabled="${funcType eq 'view'}" FDCV="not-blank" />
		        </div>
			  </div>
			  <div class="row">
		        <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-10">
		          <label class="font-weight-bold"><span class="req-field">*</span>選單版型</label>
		          <div th:if="${funcType eq 'add'}">
		            <select class="form-control" name="templateId" th:onchange="|create_rich_menu_list(this)|" FDCV="not-blank" >
		              <option value="">請選擇</option>
		              <option th:each="temp:${templates}" th:object="${temp}" th:value="*{id}" th:text="*{name}" />
		            </select>
		          </div>  
		          <div th:if="${funcType eq 'edit' || funcType eq 'view'}">
		            <select class="form-control" name="templateId" th:onchange="|create_rich_menu_list(this)|" FDCV="not-blank">
		              <option value="">請選擇</option>
		              <option th:each="temp:${templates}" th:object="${temp}" th:value="*{id}" th:text="*{name}" />
		            </select>
		          </div>
		        </div> 
		      </div>
          
		      <div th:if="${funcType eq 'add' || funcType eq 'edit'}" class="row">
		        <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-10">
		          <label class="font-weight-bold"><span class="req-field">*</span>選單圖片</label><br>
		          <input type="file" name="image" accept="image/*" onchange="loadFile(event,'image_output')" FDCV="not-blank">
		        </div>
		      </div>
			</div>
		  </div>
		</div>
	  </div>
    
	  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
        <div class="col">
          <div class="card">    
		    <div class="card-header">
		      <span class="glyphicon glyphicon-align-justify"></span>
		      <span>LineRichMenu - 選單圖片</span>
		    </div>
		    <div class="card-body card-img">
		      <div class="row justify-content-md-center">
		        <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11" id="template_image_view">
			      <img class="card-img-set" id="image_output" />
			      <img class="card-img-set" id="image_style" />
		        </div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>

	</div>
	<div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
        <div class="col">
          <div class="card">    
		    <div class="card-header">
		      <span class="glyphicon glyphicon-align-justify"></span>
		      <span>LineRichMenu - 功能新增</span>
		    </div>
		    <div class="card-body">
              <input type="hidden" id="menuSizeWidth" name="size.width" />
              <input type="hidden" id="menuSizeHeight" name="size.height" />
			  <table id="richMenuActionTable"  class="table table-bordered">
		        <thead class="thead-light">
		          <tr class="center">
		            <th width="100px">序號</th>
		            <th width="200px">動作</th>
		            <th>行為</th>
		          </tr>
		        </thead>
		        <tbody>
		        </tbody>
		      </table>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<button type="button" id="rich_menu_submit" class="btn btn-primary btn-sm">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>送出
    </button>
  </form>

</body>
</html>