<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head>
<meta charset="UTF-8">
<title th:if="${funcType eq 'add'}">LineRichMenu - 新增</title>
<title th:if="${funcType} == view">LineRichMenu - 檢視</title>
<title th:if="${funcType} == edit">LineRichMenu - 修改</title>
</head>
<style>
</style>
<body layout:fragment="content">
  <script type="text/javascript">
  var loadFile = function(event,id) {
    var output = document.getElementById(id);
    output.src = URL.createObjectURL(event.target.files[0]);
  }
  $().ready(function(){
	  $("select[name='templateId']").change(function(){
      var imageBase64 = $(this).find(":selected").attr('image');
      var size = $(this).find(":selected").attr('size');
      if(imageBase64){
			  $("#image_style").attr("src","data:image/png;base64," + imageBase64);
        testtesttest(size);
      }else{
        $("#image_style").removeAttr('src').replaceWith($("#image_style").clone());
        testtesttest(size);
      }
	  });
	  
	  var testtesttest = function(size){
		  $("#richMenuActionTable").find("tbody").find("tr").remove();
		  for(i=0 ; i < size ; i++){
			  $("#richMenuActionTable tbody").append(`
					  <tr>
			        <td> ${i + 1} </td>
              <td>
                <select id="action[${i}]" name="actions[${i}].type" index="${i}">
                  <option value="">請選擇</option>
                  <option value="change_view">切換頁面</option>
                  <option value="trigger_iot">觸發Iot</option>
                </select>
              </td>
              <td id="detail_${i}"></td>
			      </tr>
			  `);
		  }
		  $("select[id^='action']").change(function(){
			  var index = $(this).attr("index");
			  var value= this.value;
			  var detail = $("#detail_" + index);
			  detail.html('');
			  switch(value){
			  case 'change_view':
                var change_view_str = `<p>`;
                change_view_str += `至 `;
                change_view_str += `<input type="text" id="action_${index}" name="actions[${index}].data" required />`;
                change_view_str += `</p>`;
                detail.html(change_view_str);

                $("#action_" + index).autocomplete({
                  minLength: 0,
                  source: function(request,response){
                    $.ajax({
                      url: '/line/rich_menu/autocomplete/getRichMenu',
                      data: request,
                      dataType: 'json',
                      success: function(result){
                        var data = [];
                        result.forEach((d) => {
                          data.push({ label: d.name, value: d.name });
                        });
                        response(data);
                      }
                    });
                  }
                })
                .blur(function(){
                    $(this).autocomplete('enable');
                })
                .focus(function () {
                    $(this).autocomplete('search', '');
                });
                break;
			  case 'trigger_iot':
 				var trigger_iot_str = `<p>`;
 				trigger_iot_str += `至 `;
 				trigger_iot_str += `<input type="text" id="action_${index}" name="actions[${index}].data" required />`;
 				trigger_iot_str += `</p>`;
                detail.html(trigger_iot_str);


                $("#action_" + index).autocomplete({
                  minLength: 0,
                  source: function(request,response){
                	var locationId = $("#locationId").val();
                    $.ajax({
                      url: '/wf8266/autocomplete/getAllWf8266Detail',
                      data: {locationId:locationId, name: request.term},
                      dataType: 'json',
                      success: function(result){
                        var data = [];
                        result.forEach((d) => {
                          data.push({ label: d.name, value: d.name });
                        });
                        response(data);
                      }
                    });
                  },
                  select: function(event , ui){
                	  console.log(ui)
                  }
                })
                .blur(function(){
                    $(this).autocomplete('enable');
                })
                .focus(function () {
                    $(this).autocomplete('search', '');
                });  
				break;
			  }
		  });
	  }
	
    $("#auto_location").autocomplete({
      minLength: 0,
      source: function(request,response){
      	$.ajax({
      	  method: 'post',
          url: '/location/autocomplete/getAll',
          data: request,
          dataType: 'json',
          success: function(result){
          	var data = [];
          	result.forEach((d) => {
              data.push({ label: d.name, value: d.name, object: d });
          	});
            response(data);
          }
        });
      },
      select: function(event,ui){
    	  var obj = ui.item.object;
    	  $("#locationId").val(obj.id);
    	  $("#location_address").text(obj.address);
      }
    })
    .blur(function(){
        $(this).autocomplete('enable');
    })
    .focus(function () {
        $(this).autocomplete('search', '');
    });
  });
  </script>
  <div class="card border-info col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8" style="border:3px #DCDCDC solid;">
    <div class="card-body text-info">
      <h5 class="card-text">
      1. 圖片大小，小於 1Mb。<br>
      2. 沒有功能的視窗，就不選擇。<br>
      3. 選單名稱不得重複。<br>
      4. 選單圖片尺寸必須為 (2500*843或2500*1686)<br>
      5. 動作->切換頁面，轉跳的頁面，是以選單名稱切換，若找不到頁面，則切換無效。
      </h5>
    </div>
  </div>

  <form th:action="@{/line/rich_menu/save}" enctype="Multipart/Form-Data" method="post">
    <input th:if="${funcType eq 'edit'}" type="hidden" name="oldRichMenuId" th:value="${richMenu.richMenuId}" />
    <div class="card-body">
	  <table class="table table-responsive-sm">
      <tbody>
        <tr>
          <th><span class="req-field">*</span>選單名稱：</th>
          <td th:if="${funcType eq 'add'}"><input name="name" required /></td>
          <td th:if="${funcType eq 'edit'}"><input type="hidden" name="name" th:value="${richMenu.name}" /><span th:text="${richMenu.name}"></span></td>
        </tr>
        <tr>
          <th><span class="req-field">*</span>選單版型：</th>
          <td>
            <select name="templateId" required >
              <option value="" size="0">請選擇</option>
              <option th:each="temp:${templates}" th:object="${temp}" th:value="*{id}" th:text="*{name}" th:size="*{size}" th:image="*{getBase64Image()}"/>
            </select>
          </td>
        </tr>
        
        <tr>
          <th><span class="req-field">*</span>使用據點：</th>
          <td th:if="${funcType eq 'add'}">
            <input type="hidden" id="locationId" name="locationId" ></input>
            <input type="text" size="10" id="auto_location" ></input>
            <span id="location_address" ></span>
          </td>
          <td th:if="${funcType eq 'view' }">
            <span th:text="${wf8266.location?.name}" ></span>
          </td>
          <td th:if="${funcType eq 'edit' && wf8266?.location == null}">
              <input type="hidden" id="locationId" name="locationId" ></input>
              <input type="text" size="10" id="auto_location" ></input>
              <span id="location_address" ></span>
          </td>
          <td th:if="${funcType eq 'edit' && wf8266?.location != null}">
              <input type="hidden" id="locationId" name="locationId" th:value="${wf8266.location.id}" ></input>
              <input type="text" size="10" id="auto_location" th:value="${wf8266.location.name}" ></input>
              <span id="location_address" th:value="${wf8266.location.address}" ></span>
          </td>
        </tr>
        
        <tr>
          <th><span class="req-field">*</span>選單圖片：</th>
          <td>
            <input type="file" name="image" accept="image/*" onchange="loadFile(event,'image_output')" required>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <table id="richMenuActionTable"  class="table table-bordered">
             <thead class="thead-light">
               <tr>
                 <th width="100px">序號</th>
                 <th width="200px">動作</th>
                 <th>行為</th>
               </tr>
             </thead>
             <tbody>
             </tbody>
            </table>
          </td>
        </tr>
	  
	    </tbody>
	  </table>
	  </div>
	  <input type="submit" />
  </form>
  <div id="template_image_view" style="height:200px;">
    <img style=" position:absolute; bottom:10px; width:500px; " id="image_output" />
    <img style=" position:absolute; bottom:10px; width:500px;" id="image_style" />
  </div>
</body>
</html>