.navbar {
	position:fixed;
	z-index:1;
    padding: 5px;	/*影響上方列的縮排*/
	min-height: 55px;	/*影響上方列的高度*/
	max-height: 55px;	/*影響上方列的高度*/
	width:100%;
	background-color: #FFFFFF;
    border: none;
    border-radius: 0;
	margin-left: 0px;		/*上方列跟左邊選單中間的段落*/
    margin-bottom: 0px;	/*上方列跟主頁內容中間的段落*/
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);	/*上方列陰影設定*/
}

.navbar_sub {
	top:52px;
	left:244px;
	position:relative;
	z-index:0;
    padding: 5px;	/*影響上方列的縮排*/
	min-height: 53px;	/*影響上方列的高度*/
	max-height: 53px;	/*影響上方列的高度*/
	width:101%;
	background-color: #FFFFFF;
    border: none;
    border-radius: 0;
	margin-left: 0px;		/*上方列跟左邊選單中間的段落*/
    margin-bottom: 0px;	/*上方列跟主頁內容中間的段落*/
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);	/*上方列陰影設定*/
    transition: all 0.3s;

}

.navbar_sub.active {
	top:52px;
	left:-6px;
	position:relative;
	z-index:0;
    padding: 5px;	/*影響上方列的縮排*/
	min-height: 53px;	/*影響上方列的高度*/
	max-height: 53px;	/*影響上方列的高度*/
	width:101%;
	background-color: #FFFFFF;
    border: none;
    border-radius: 0;
	margin-left: 0px;		/*上方列跟左邊選單中間的段落*/
    margin-bottom: 0px;	/*上方列跟主頁內容中間的段落*/
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);	/*上方列陰影設定*/
    transition: all 0.3s;
}

.breadcrumb{
	margin-bottom:0px;
}

#navbar_logo {
	position: absolute;
	left: 55px;
	top: 8px;
}

#navbar_logo img{
	width:110px;
}

#navbar_user {
	position: absolute;
	right:175px;
	top: 8px;
	transition: all 0.3s;
}

.dropdown-menu{
	display:none;
	transition: all 0.3s;
}
.dropdown-menu span{
	position: absolute;
	margin-top: 8px;
	right: 12px;
}

.dropdown-menu img {
	position: relative;
	left:30px;
	top:9px;
	width:24px;
	height:24px;
	z-index:2;
	/*border:1px blue solid;*/
	
}

.dropdown-header{
	background-color:#E4E5E6;
	line-height:26px;
}

/* 代辦事項＞使用者下拉式選單：點擊淡入與淡出(目前只有完成mobile版本的) */
.dropdown-menu.active{
	padding:0px;
	margin:0px;
	display:block;
	position: absolute;
	width:220px;
	top: 45px;
	left:-5px;
	transition: all 0.3s;
}

.dropdown-item{
	padding-left:30px;
	line-height:32px;
}

.dropdown-item:hover{
	background-color:#F0F3F5;
}

#navbar_title {
	position: absolute;
	left: 265px;
	top: 12px;
}

#navbar_user h4 {
	font-size: 1.5rem;
    position: absolute;
    width: 150px;
    top: 8px;
    left: 60px;
}

#navbar_subtitle {
	position: absolute;
	left: 20px;
	top: 13px;

}
.hamburger-menu {
	width: 40px;
	height: 40px;
	background: none;
	border:none;
	display:inline-block;
	border-radius: 3px;	/*漢堡選單按鈕 圓角矩形*/
}

.hamburger-menu .icon-bar{
	background-color: #A9A9A9;	/*漢堡選單 線條顏色*/
	display: block;
	height: 3px;			/*漢堡選單按鈕 線條高度*/
	margin: 4px 1px 4px;	/*漢堡選單按鈕 線條縮排調整 上/左右/下*/
	width: 25px;

}

#sidebarCollapse {	/*點擊選單鈕之前(展開狀態)*/
	position: relative;
	left: 205px;
	top: 0px;
	transition: all 0.3s;
	background: #FFFFFF;	/*漢堡選單 按鈕顏色*/

}

#sidebarCollapse:hover {	/*展開狀態滑鼠移過選單鈕*/
	position: relative;
	left: 205px;
	top: 0px;
	transition: all 0.3s;
	background: #F5F5F5;
}

#sidebarCollapse.active { /*點擊選單鈕之後(收合狀態)*/
	position: relative;
	left: 205px;
	top: 0px;
	transition: all 0.3s;
	background: #FFFFFF;
}

#sidebarCollapse.active:hover {	/*收合狀態滑鼠移過選單鈕*/
	position: relative;
	left: 205px;
	top: 0px;
	transition: all 0.3s;
	background: #F5F5F5;
}

@media (max-width: 768px) {
	.navbar{
		position:absolute;
		z-index:1;
		padding: 5px;	/*影響上方列的縮排*/
		min-height: 55px;	/*影響上方列的高度*/
		max-height: 55px;	/*影響上方列的高度*/
		top:0px;
		width:100%;
		background-color: #FFFFFF;
		border: none;
		border-radius: 0;
		margin-left: 0px;		/*上方列跟左邊選單中間的段落*/
		margin-bottom: 0px;	/*上方列跟主頁內容中間的段落*/
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);	/*上方列陰影設定*/	
	}
	
	.navbar_sub.active {
		top:52px;
		left:-1px;
		position:relative;
		z-index:0;
		padding: 0px 0px 0px 0px;	/*影響上方列的縮排*/
		min-height: 45px;	/*影響上方列的高度*/
		max-height: 45px;	/*影響上方列的高度*/
		width:101%;
		font-size:14px;
		background-color: #FFFFFF;
		border: none;
		border-radius: 0;
		margin-left: 0px;		/*上方列跟左邊選單中間的段落*/
		margin-bottom: 0px;	/*上方列跟主頁內容中間的段落*/
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);	/*上方列陰影設定*/
		transition: all 0.3s;

}
	
	.navbar_sub {
		top:52px;
		left:-1px;
		position:relative;
		z-index:0;
		padding: 0px;	/*影響上方列的縮排*/
		min-height: 45px;	/*影響上方列的高度*/
		max-height: 45px;	/*影響上方列的高度*/
		width:101%;
		font-size:14px;
		background-color: #FFFFFF;
		border: none;
		border-radius: 0;
		margin-left: 0px;		/*上方列跟左邊選單中間的段落*/
		margin-bottom: 0px;	/*上方列跟主頁內容中間的段落*/
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);	/*上方列陰影設定*/
		transition: all 0.3s;
	}
	
	#navbar_user {
		position: absolute;
		right:4%;
		top: 8px;
		transition: all 0.3s;
	}

	#navbar_logo{
		position: absolute;
		width:110px;
	    display: table-cell;
	    vertical-align: inherit;
	    left:35%;
	}
	
	#navbar_logo img{
		width:110px;
	}	

	.dropdown-menu{
		padding:0px;
		margin:0px;
		display:none;
		position: absolute;
		width:220px;
		top: 45px;
		left:60px;
		transition: all 0.3s;
	}
		
	.dropdown-menu.active{
		padding:0px;
		margin:0px;
		display:block;
		position: absolute;
		width:220px;
		top: 45px;
		left:-171px;
		transition: all 0.3s;
	}
	#sidebarCollapse {	/*點擊選單鈕之前(展開狀態)*/
		position: relative;
		left: 5px;
		top: 0px;
		transition: all 0.3s;
		background: #FFFFFF;	/*漢堡選單 按鈕顏色*/
	
	}
	
	#sidebarCollapse:hover {	/*展開狀態滑鼠移過選單鈕*/
		position: relative;
		left: 5px;
		top: 0px;
		transition: all 0.3s;
		background: #F5F5F5;
	}
	
	#sidebarCollapse.active { /*點擊選單鈕之後(收合狀態)*/
		position: relative;
		left: 5px;
		top: 0px;
		transition: all 0.3s;
		background: #FFFFFF;
	}
	
	#sidebarCollapse.active:hover {	/*收合狀態滑鼠移過選單鈕*/
		position: relative;
		left: 5px;
		top: 0px;
		transition: all 0.3s;
		background: #F5F5F5;
	}

}

