.navbar {
	position:fixed;
	z-index:1;
    padding: 5px;	/*�v�T�W��C���Y��*/
	min-height: 55px;	/*�v�T�W��C������*/
	max-height: 55px;	/*�v�T�W��C������*/
	width:100%;
	background-color: #FFFFFF;
    border: none;
    border-radius: 0;
	margin-left: 0px;		/*�W��C�����椤�����q��*/
    margin-bottom: 0px;	/*�W��C��D�����e�������q��*/
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);	/*�W��C���v�]�w*/
}

.navbar_sub {
	top:52px;
	left:244px;
	position:relative;
	z-index:0;
    padding: 5px;	/*�v�T�W��C���Y��*/
	min-height: 53px;	/*�v�T�W��C������*/
	max-height: 53px;	/*�v�T�W��C������*/
	width:101%;
	background-color: #FFFFFF;
    border: none;
    border-radius: 0;
	margin-left: 0px;		/*�W��C�����椤�����q��*/
    margin-bottom: 0px;	/*�W��C��D�����e�������q��*/
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);	/*�W��C���v�]�w*/
    transition: all 0.3s;

}

.navbar_sub.active {
	top:52px;
	left:-6px;
	position:relative;
	z-index:0;
    padding: 5px;	/*�v�T�W��C���Y��*/
	min-height: 53px;	/*�v�T�W��C������*/
	max-height: 53px;	/*�v�T�W��C������*/
	width:101%;
	background-color: #FFFFFF;
    border: none;
    border-radius: 0;
	margin-left: 0px;		/*�W��C�����椤�����q��*/
    margin-bottom: 0px;	/*�W��C��D�����e�������q��*/
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);	/*�W��C���v�]�w*/
    transition: all 0.3s;
}

.breadcrumb{
	margin-bottom:0px;
}

#navbar_logo {
	position: absolute;
	left: 55px;
	top: 8px;
}

#navbar_logo img{
	width:110px;
}

#navbar_user {
	position: absolute;
	right:175px;
	top: 8px;
	transition: all 0.3s;
}

.dropdown-menu{
	display:none;
	transition: all 0.3s;
}
.dropdown-menu span{
	position: absolute;
	margin-top: 8px;
	right: 12px;
}

.dropdown-menu img {
	position: relative;
	left:30px;
	top:9px;
	width:24px;
	height:24px;
	z-index:2;
	/*border:1px blue solid;*/
	
}

.dropdown-header{
	background-color:#E4E5E6;
	line-height:26px;
}

/* �N��ƶ��֨ϥΪ̤U�Ԧ����G�I���H�J�P�H�X(�ثe�u������mobile������) */
.dropdown-menu.active{
	padding:0px;
	margin:0px;
	display:block;
	position: absolute;
	width:220px;
	top: 45px;
	left:-5px;
	transition: all 0.3s;
}

.dropdown-item{
	padding-left:30px;
	line-height:32px;
}

.dropdown-item:hover{
	background-color:#F0F3F5;
}

#navbar_title {
	position: absolute;
	left: 265px;
	top: 12px;
}

#navbar_user h4 {
	font-size: 1.5rem;
    position: absolute;
    width: 150px;
    top: 8px;
    left: 60px;
}

#navbar_subtitle {
	position: absolute;
	left: 20px;
	top: 13px;

}
.hamburger-menu {
	width: 40px;
	height: 40px;
	background: none;
	border:none;
	display:inline-block;
	border-radius: 3px;	/*�~�������s �ꨤ�x��*/
}

.hamburger-menu .icon-bar{
	background-color: #A9A9A9;	/*�~����� �u���C��*/
	display: block;
	height: 3px;			/*�~�������s �u������*/
	margin: 4px 1px 4px;	/*�~�������s �u���Y�ƽվ� �W/���k/�U*/
	width: 25px;

}

#sidebarCollapse {	/*�I�����s���e(�i�}���A)*/
	position: relative;
	left: 205px;
	top: 0px;
	transition: all 0.3s;
	background: #FFFFFF;	/*�~����� ���s�C��*/

}

#sidebarCollapse:hover {	/*�i�}���A�ƹ����L���s*/
	position: relative;
	left: 205px;
	top: 0px;
	transition: all 0.3s;
	background: #F5F5F5;
}

#sidebarCollapse.active { /*�I�����s����(���X���A)*/
	position: relative;
	left: 205px;
	top: 0px;
	transition: all 0.3s;
	background: #FFFFFF;
}

#sidebarCollapse.active:hover {	/*���X���A�ƹ����L���s*/
	position: relative;
	left: 205px;
	top: 0px;
	transition: all 0.3s;
	background: #F5F5F5;
}

@media (max-width: 900px) {
	.navbar{
		position:fixed;
		z-index:1;
		padding: 5px;	/*�v�T�W��C���Y��*/
		min-height: 55px;	/*�v�T�W��C������*/
		max-height: 55px;	/*�v�T�W��C������*/
		top:0px;
		width:100%;
		background-color: #FFFFFF;
		border: none;
		border-radius: 0;
		margin-left: 0px;		/*�W��C�����椤�����q��*/
		margin-bottom: 0px;	/*�W��C��D�����e�������q��*/
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);	/*�W��C���v�]�w*/	
	}
	
	.navbar_sub.active {
		top:52px;
		left:-1px;
		position:relative;
		z-index:0;
		padding: 0px 0px 0px 0px;	/*�v�T�W��C���Y��*/
		min-height: 45px;	/*�v�T�W��C������*/
		max-height: 45px;	/*�v�T�W��C������*/
		width:101%;
		font-size:14px;
		background-color: #FFFFFF;
		border: none;
		border-radius: 0;
		margin-left: 0px;		/*�W��C�����椤�����q��*/
		margin-bottom: 0px;	/*�W��C��D�����e�������q��*/
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);	/*�W��C���v�]�w*/
		transition: all 0.3s;

}
	
	.navbar_sub {
		top:52px;
		left:-1px;
		position:relative;
		z-index:0;
		padding: 0px;	/*�v�T�W��C���Y��*/
		min-height: 45px;	/*�v�T�W��C������*/
		max-height: 45px;	/*�v�T�W��C������*/
		width:101%;
		font-size:14px;
		background-color: #FFFFFF;
		border: none;
		border-radius: 0;
		margin-left: 0px;		/*�W��C�����椤�����q��*/
		margin-bottom: 0px;	/*�W��C��D�����e�������q��*/
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);	/*�W��C���v�]�w*/
		transition: all 0.3s;
	}
	
	#navbar_user {
		position: absolute;
		right:4%;
		top: 8px;
		transition: all 0.3s;
	}
	
	#navbar_user input {
		position: absolute;
		right:2%;
	}

	#navbar_logo{
		position: absolute;
		width:110px;
	    display: table-cell;
	    vertical-align: inherit;
	    left:35%;
	}
	
	#navbar_logo img{
		width:110px;
	}	

	.dropdown-menu{
		padding:0px;
		margin:0px;
		display:none;
		position: absolute;
		width:220px;
		top: 45px;
		left:60px;
		transition: all 0.3s;
	}
		
	.dropdown-menu.active{
		padding:0px;
		margin:0px;
		display:block;
		position: absolute;
		width:220px;
		top: 45px;
		left:-171px;
		transition: all 0.3s;
	}
	#sidebarCollapse {	/*�I�����s���e(�i�}���A)*/
		position: relative;
		left: 5px;
		top: 0px;
		transition: all 0.3s;
		background: #FFFFFF;	/*�~����� ���s�C��*/
	
	}
	
	#sidebarCollapse:hover {	/*�i�}���A�ƹ����L���s*/
		position: relative;
		left: 5px;
		top: 0px;
		transition: all 0.3s;
		background: #F5F5F5;
	}
	
	#sidebarCollapse.active { /*�I�����s����(���X���A)*/
		position: relative;
		left: 5px;
		top: 0px;
		transition: all 0.3s;
		background: #FFFFFF;
	}
	
	#sidebarCollapse.active:hover {	/*���X���A�ƹ����L���s*/
		position: relative;
		left: 5px;
		top: 0px;
		transition: all 0.3s;
		background: #F5F5F5;
	}

}

