body {
	background-color: #E7E7E7;
}

.card{
	position:relative;
	top:60%;
	padding:40px;
	background-color: #FFFFFF;
	border:1px gray solid;
	border-radius:5px;
}

.input-box{
	margin-bottom:20px;
}

@media (max-width: 768px) {
	.card{
		top:38%;
		padding:15px;
	}

	h1{
		margin-bottom:10px;
	}
	
	.input-box{
		margin-bottom:10px;
	}

}