.col{
	margin-bottom:40px;

}

.card{
	width:100%;
}

.card-header{
	background-color:#F7F3F7;
}

.card-header span{
	top:2px;
	padding-right:15px;
}

.a-btn-first {
	position: absolute;
	top: 9px;
	right:64px;
}

.a-btn-second {
	position: absolute;
	top: 9px;
	right:9px;
}

.card-body{
	padding-bottom:5px;
}

.card-body.active{
	display:none;
}

.table{
	width:100%
}

.table tbody a{
	
}

.center{
	text-align:center;
}

.table tbody th{
	line-height:30px;
}

.table tbody td{
	line-height:30px;
}

.btn-info {
	position:relative;
	margin-right:15px;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

@media (max-width: 720px) {
    .card-body nav {
        display: none;
    }
}