.col {
  margin-bottom: 20px;
  padding: 0px
}

.card {
  width: 100%;
  margin-bottom: 20px;
}

.card-img {
  height: 328px;
}

.card-img-set {
  position: absolute;
  width: 300px;
}

.card-header {
  background-color: #F7F3F7;
}

.card-header-left {
  float: left;
}

.card-header-right {
  float: right;
}

.card-header span {
  top: 2px;
  padding-right: 15px;
}

.span-margin {
  margin-left: 15px;
  line-height: 30px;
}

.form-control {
  margin-left: 15px;
}

.card-header a span {
  top: 2px;
  padding-right: 5px;
}

.card-body span {
  padding-right: 5px;
}

.card-body tr th a span {
  top: 2px;
  padding-right: 5px;
}

.a-btn-first {
  position: absolute;
  top: 9px;
  right: 82px;
}

.card-body {
  padding-bottom: 5px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.card-body.active {
  display: none;
}

.card-body label {
  margin-top: 10px;
}

.card-body input{
  margin-left: 15px;
}

.card-body select {
  margin-left: 10px;
}

.card-body table input, .card-body table select {
  margin-left: 0px;
}

.row .badge {
  font-size: 16px;
  line-height: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.btn-download {
  margin-bottom: 10px;
  margin-left: 5px;
}

.btn-submit {
  margin-bottom: 10px;
}

.glyphicon-trash{
  margin-right: -2px;
  margin-top: 2px;
  margin-bottom: 5px;	
}

.row .select-sm {
  line-height: 0px;
}

.select-bcolor {
  background-color: #E9ECEF;
}

.center {
  text-align: center;
}

.table tbody th, .table tbody td {
  display: table-cell;
  vertical-align: inherit;
}

.card-body .btn-warning {
  position: relative;
  margin-right: 15px;
}

.breadcrumb>li+li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}

.card-text {
  line-height: 40px;
  padding-bottom: 15px;
}

.req-field {
  color: red;
}

.input-group-mg-l {
  margin-left: 15px;
}

.input-group-mg-r {
  margin-right: -15px;
}

.custom-select {
  width: 200px;
  margin-bottom: 20px;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #ced4da !important;
  padding: 0px 0px 5px 0px;
  margin: -25px 5% 0px 15px;
}

.btn-detail {
  margin-left: 15px;
  margin-bottom: 10px;
}

.location_address {
  position: relative;
  top: 5px;
  padding-left: 15px;
}

.img-m {
  margin: 20px;
}

@media ( max-width : 720px) {
  .card-body{
    overflow-x: auto;
  }
  .td-first {
    margin-top: 10px;
  }
  .td-last {
    margin-bottom: 30px;
  }
  .td-mobile{
    margin-bottom:5px;
  }
  
  .td-m {
    margin-bottom: 10px;
  }
  .row .badge {
    font-size: 16px;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    position: relative;
  }
  .td-first .btn {
    padding-bottom: 4px;
    padding-right: 8px;
    margin-bottom:0px;
  }
  .custom-select {
    width: 95%;
    margin-bottom: 20px;
  }
  .card-body {
    margin-right: 0px;
  }
  .card-body table input, .card-body table select{
    width:auto;
    overflow-x: auto;
  }
  .mobile-edit{
    left:13px;
    margin-right:10px;
  }
  .mobile-end{
    left:5px;
    margin-right:10px;
  }
  .btn-info{
    margin-right:-10px;
  }
  .img-m{
    width:100%;
  }
  
}

.verification_err_msg {
  color: red !important;
}