.col{
	margin-bottom:20px;
	padding:0px
}

.card{
	width:100%;
	margin-bottom:20px;
}

.card-img{
	height:328px;
}

.card-img-set{
	position:absolute;
	width:300px;	
}

.card-header{
	background-color:#F7F3F7;
}

.card-header span{
	top:2px;
	padding-right:15px;
}

.span-margin {
	margin-left:15px;
	line-height:30px;
}

.form-control{
	margin-left:15px;
}

.card-header a span{
	top:2px;
	padding-right:5px;
}

.card-body span{
	padding-right:5px;
}

.card-body tr th a span{
	top:2px;
	padding-right:5px;
}

.a-btn-first {
	position: absolute;
	top: 9px;
	right:82px;
}

.a-btn-second {
	position: absolute;
	top: 9px;
	right:9px;
}

.card-body{
	padding-bottom:5px;
	margin-right:15px;
	margin-bottom:10px;
}

.card-body.active{
	display:none;
}

.card-body label{
    margin-top: 10px;
}

.card-body input, .card-body select{
	margin-left:15px;
}

.card-body table input, .card-body table select{
	margin-left:0px;
}

.row .badge{
    font-size:16px;
    line-height:30px;
    margin-top:15px;
    margin-bottom:10px;
}

.btn-download{
	margin-bottom:10px;
	margin-left:5px;
}

.btn-submit{
	margin-bottom:10px;
}

.row .select-sm{
	line-height:0px;
}

.select-bcolor{
	background-color: #E9ECEF;
}

.center{
	text-align:center;
}

.table tbody th, .table tbody td{
    display: table-cell;
    vertical-align: inherit;
}

.card-body .btn-warning {
	position:relative;
	margin-right:15px;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.card-text {
	line-height:40px;
	padding-bottom:15px;
}

.show-on-phone{
	display:none;
}

.req-field{
	color:red;
}

.input-group-mg-l{
	margin-left:15px;	
}

.input-group-mg-r{
	margin-right:-15px;
}

.custom-select{
	width:200px;
}

.select2-container--default .select2-selection--multiple{
	margin-top:-20px;
	margin-left: 0px;
    border: 1px solid #ced4da!important;
    padding: 5px 5px 10px 5px;
}


.btn-detail{
	margin-left:15px;
	margin-bottom:10px;
}

.location_address{
	position: relative;
    top: 5px;
    padding-left: 15px;
}	
.img-m{
 	margin:20px;
 }

@media (max-width: 720px) {
	
	.hide-in-phone{
		display:none;
	}
	.show-on-phone{
		display:block;
	}
	
	.rwd-table{
		width:100%;
	}
	.rwd-table tr {
		border:1px solid #DCDCDC;
		width:100%;
		margin-bottom:10px;
	}
 
	.rwd-table th {
		display: none;
 	}
 
	.rwd-table td {
		display: block;
		border: none;
		position:relative;
	}
 
	.rwd-table td:before {
		content: attr(data-th) "";
		font-weight: bold;
	}
	
	.td-first{
		margin-top:10px;
	}
	
	.td-last{
		margin-bottom:30px;
	}
	
	.row .badge{
	    font-size:16px;
	    line-height:30px;
	    margin-top:15px;
	    margin-bottom:10px;
	    position:relative;
	    left:15px;
	}
	
	.td-first .btn{
		padding-bottom: 7px;
	    padding-right: 4px;
	}
	
	.rwd-tbody{
	
	}
	
	.custom-select{
		width: 95%;
	    margin-bottom: 20px;
    }
}

.verification_err_msg {
 color:red!important;
}