<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head> <meta charset="UTF-8" > </head>

<body layout:fragment="content">
  <script>
  delete_wf8266 = function(sn,name){
    console.log(sn)
    showConfirmDialog('確認刪除','確定要刪除 ' + name + ' 的IoT晶片嗎?',function(){
      $.ajax({
        type: 'DELETE',
        url: `/wf8266/delete/${sn}`,
        dataType: 'json',
        success: (result) =>{
          location.reload();
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          
        }
      });
    });
  }
  </script>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header" toggleId='a'>
          <span class="glyphicon glyphicon-align-justify"></span>LineRichMenuTemplate - 列表
          <a th:href="@{/wf8266/add}" class="btn btn-primary a-btn-second btn-sm">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>新增
          </a>
        </div>
        <div class="card-body" toggleId='a'>
          <table class="table table-hover table-responsive-sm hide-in-phone">
            <thead class="center">
              <tr>
                <th scope="col">操作</th>
                <th scope="col">據點</th>
                <th scope="col">晶片號碼</th>
                <th scope="col">是否啟用</th>
                <th scope="col">狀態</th>
              </tr>
            </thead>
            <tbody class="center">
              <tr th:if="${wf8266s.empty}">
                <th colspan="5">沒有資料</th>
              </tr>
              <tr th:unless="${wf8266s.empty}" th:each="wf8266,iterStat:${wf8266s}">
                <th scope="row">
                  <a th:href="@{/wf8266/view/{wf8266_sn}(wf8266_sn=${wf8266.sn})}" class="btn btn-secondary btn-sm">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>檢視
                  </a>
                  <a th:href="@{/wf8266/edit/{wf8266_sn}(wf8266_sn=${wf8266.sn})}" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改
                  </a>
                  <a href="javascript:;" class="btn btn-danger btn-sm " th:onclick="|delete_wf8266('__${wf8266.sn}__','__${wf8266.sn}__')|">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>刪除
                  </a>
                </th>
                <th>
                  <span th:text="${wf8266.location.name}"></span>
                </th>                
                <td>
                  <span th:text="${wf8266.sn}"></span>
                </td>
                <td>
                  <span th:text="${wf8266.isUse}"></span> <!-- 改成樣式 V / X or Using / Useless -->
                </td>
                    <th> 
                  <input type="hidden" th:id="|url_${iterStat.index}|" th:value="${wf8266.statusUrl}" />
                  <div class="row">
                  <a th:onclick="|reload_${iterStat.index}()|" class="btn btn-warning btn-sm">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>重新讀取
                  </a>
                  <!-- <input type="button" th:onclick="|reload_${iterStat.index}()|" th:value="重新讀取" style="line-height:30px;"/> 到時候再重畫按鈕 -->
                  <div th:id="|status_${iterStat.index}|" style="margin-top:5px;"></div> <!-- 需要一個讀取中的樣式 -->
                  <script th:inline="javascript">
                        reload_[[${iterStat.index}]]();
                        function reload_[[${iterStat.index}]](){
                          var url = $("#url" + '_' + [[${iterStat.index}]]).val() ;
                          var status = $("#status_" + [[${iterStat.index}]] );
                          status.html('');
                          $.ajax({
                              type: 'GET',
                              timeout: 2000,
                              url: url,
                              async: true,
                              dataType: "json",
                              success: (result) => {
                                if(result.code === 1){
                                  let datas = result.data.Data;
                                  let ip = result.data.LocalIp;
                                  let uuid = result.data.UUID;
//                                   status.html(`<span style="color:green;">連線中 </span> ( ${ip} / ${uuid} ) `);
                                  status.html(`<span style="color:green;">連線中 </span> ( ${ip} ) `);
                                }else{
                                  status.html(`<span style="color:red;">失去連線</span> (${result.code} / ${result.data}) `);
                                }
                              },
                              error: function (XMLHttpRequest, textStatus, errorThrown) {
                              	status.html(`<span style="color:red;">失去連線</span> (${textStatus}) `);
                              }
                          });
                        }
                      </script>
                  </div>
                </th>
              </tr>
            </tbody>
          </table>
          <table class="table-hover show-on-phone rwd-table">
            <thead>
              <tr>
                <th>操作</th>
                <th>據點</th>
                <th>晶片號碼</th>
                <th>是否啟用</th>
                <th>狀態</th>
              </tr>
            </thead>
            <tbody>
              <tr th:if="${wf8266s.empty}">
                <th colspan="5">沒有資料</th>
              </tr>
              <tr th:unless="${wf8266s.empty}" th:each="wf8266,iterStat:${wf8266s}">
                <td class="td-first">
                  <a th:href="@{/wf8266/view/{wf8266_sn}(wf8266_sn=${wf8266.sn})}" class="btn btn-secondary btn-sm">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                  </a>
                  <a th:href="@{/wf8266/edit/{wf8266_sn}(wf8266_sn=${wf8266.sn})}" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  </a>
                  <a th:onclick="|reload_${iterStat.index}()|" class="btn btn-warning btn-sm">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                  </a>
                </td>
                <td data-th="據點：">
                  <span th:text="${wf8266.location.name}"></span>
                </td>                
                <td data-th="晶片號碼：">
                  <span th:text="${wf8266.sn}"></span>
                </td>
                <td data-th="是否啟用：">
                  <span th:text="${wf8266.isUse}"></span> <!-- 改成樣式 V / X or Using / Useless -->
                </td>
                <td data-th="狀態：">
                  <input type="hidden" th:id="|url_${iterStat.index}|" th:value="${wf8266.statusUrl}" />
                  <div>
                  <div th:id="|status_${iterStat.index}|" style="margin-top:5px;"></div> <!-- 需要一個讀取中的樣式 -->
                  <script th:inline="javascript"><!-- 手機版的狀態顯示不出來，待修正 -->
                    reload_[[${iterStat.index}]]();
                  </script>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div th:if="${wf8266s.totalPages gt 1}" >
            <div th:replace="~{comm/page :: page01(entity=${Wf8266s})}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>