<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head>
<meta charset="UTF-8">
<title th:if="${funcType} == add">WF8266 - 新增</title>
<title th:if="${funcType} == view">WF8266 - 檢視</title>
<title th:if="${funcType} == edit">WF8266 - 修改</title>
<script>
	$(function() {
		
		  /** 新增/修改： 刪除該資料  **/
		  remove_detail = function(index){
        var status = $(`input[name="details[${index}].status"]`);
        var statusText = $(`a[id="details[${index}].statusText"]`);
			  switch(status.val()){
				  case 'U':
			      status.val('D');
			      statusText.html("存檔後刪除")
					  break;
				  case 'D':
	          status.val('U');
	          statusText.html("刪除該資料")
					  break;
	        case 'N':
            status.val('D');
            $("#tr_detail_" + index).hide(200);
	          break;
			  }
		  };
		  
		  /** 新增/修改：新增一項  **/
		  $("#add_detail").click(function(){
			  var index = $("#detail_table").find("tr").length - 1;
			  $("#detail_table").append(`
				  <tr id="tr_detail_${index}">
            <td> 
              <input type="hidden" name="details[${index}].status" value="N" /> 
              <a href="javascript:;" onClick="javascript:remove_detail(${index});" >刪除該資料</a>
            </td>
            <td> 新增項目 </td>
            <td> <input size="10" name="details[${index}].name"></input> </td>
            <td> 
	            <input type="radio" name="details[${index}].isUse" vlaue="true" checked="true">是</input>
	            <input type="radio" name="details[${index}].isUse" vlaue="false">否</input>
	          </td>
            <td> <input size="10" name="details[${index}].reply"></input> </td>
            <td>
              <label><input type="radio" name="details[${index}].cmd" value="GPIO" checked="checked" />GPIO</label>
            </td>
            <td> 
            <select name="details[${index}].data1">
             <option selected="selected" value="" >請選擇</option>
             <option value="5"  >1</option>
             <option value="4"  >2</option>
             <option value="12" >3</option>
             <option value="13" >4</option>
             <option value="1"  >5</option>
             <option value="14" >6</option>
             <option value="15" >7</option>
             <option value="16" >8</option>
            </select>
           </td>
           <td> 
            <select name="details[${index}].data2">
             <option selected="selected" value="" >請選擇</option>
             <option value="0" >開啟</option>
             <option value="1" >關閉</option>
             <option value="2" >反向</option>
             <option value="4" >點動(低)</option>
            </select>
           </td>
				  </tr>
			  `);
		  });
		  
		  /** 檢視：測試觸發 **/
		  $("a[id^='testTriggerUrl']").click(function(){
			  var triggerUrl = $(this).attr('url');
			  $.get(triggerUrl);
		  })
	});
</script>
</head>
<body layout:fragment="content">
	<h1 th:if="${funcType} == add">WF8266 - 新增</h1>
	<h1 th:if="${funcType} == view">WF8266 - 檢視</h1>
	<h1 th:if="${funcType} == edit">WF8266 - 修改</h1>
		
  <p th:if="${funcType eq 'view'}" th:text="${status}"></p>
  <a th:if="${funcType eq 'view'}" th:href="@{/wf8266/edit/{SN}(SN=${wf8266.sn})}">修改</a>
	
	<form method="post" th:action="@{/wf8266/save}">
	  <table style="border:3px #cccccc solid;" cellpadding="10" border='1'>
	    <tbody>
	      <tr>
	        <td>晶片序號：</td>
	        <td>
	          <input th:if="${funcType eq 'add' }" th:value="${wf8266.sn}" name="sn" size="10" ></input>
	          <span th:if="${funcType eq 'view' }" th:text="${wf8266.sn}"></span>
	          <div th:if="${funcType eq 'edit' }">
	           <input th:value="${wf8266.sn}" name="sn" type="hidden" ></input>
	           <span th:text="${wf8266.sn}"></span>
	          </div>
	        </td>
	      </tr>
	      
	      <tr>
	        <td>晶片金鑰：</td>
	        <td>
	          <input name="key" size="30" th:if="${funcType eq 'add' }" th:value="${wf8266.key}"></input>
	          <span th:if="${funcType eq 'view' }" th:text="${wf8266.key}"></span>
	          <div th:if="${funcType eq 'edit' }">
             <input th:value="${wf8266.key}" name="key" type="hidden" ></input>
             <span th:text="${wf8266.key}"></span>
            </div>
	        </td>
	      </tr>
	
	      <tr>
	        <td>是否啟用：</td>
	        
	        <td th:if="${funcType eq 'view'}"><span th:text="${wf8266.isUse ? '是' : '否' }"></span></td>
	        <td th:if="${funcType eq 'add' || funcType eq 'edit' }">
	          <label> <input type="radio" name="isUse" value="true" th:checked="${wf8266.isUse}" /> 是 </label>
	          <label> <input type="radio" name="isUse" value="false" th:checked="not ${wf8266.isUse}" /> 否 </label>
	        </td>
	      </tr>
	      
	      <tr>
	        <td>觸發種類：</td>
	        <td>
            <label> <input type="checkbox" th:disabled="${funcType eq 'view'}" name="isMessageEvent" value="true" th:checked="${wf8266.isMessageEvent}" /> 文字觸發 </label>
            <label> <input type="checkbox" th:disabled="${funcType eq 'view'}" name="isPostbackEvent" value="true" th:checked="${wf8266.isPostbackEvent}" /> 按鈕觸發 </label>
	        </td>
	      </tr>
	      
	      <tr>
	        <td>功能：</td>
	        <td>
	          <a th:if="${funcType ne 'view'}" href="javascript:;" id="add_detail">新增一項</a>
	          <table id="detail_table" style="border:1px #cccccc solid;" cellpadding="5" border='1'>
	            <thead>
	              <tr>
	                <th th:if="${funcType ne 'view'}">操作</th>
                  <th>編號</th>
	                <th>指令名稱</th>
                  <th>是否啟用</th>
	                <th>Reply</th>
	                <th th:if="${funcType ne 'view'}">CMD</th>
                  <th th:if="${funcType ne 'view'}">DATA1</th>
                  <th th:if="${funcType ne 'view'}">DATA2</th>
                  <th th:if="${funcType eq 'view'}">觸發網址</th>
	              </tr>
	            </thead>
	            <tbody>
	              <tr th:if="${funcType eq 'view'}" th:each="detail,itemStar:${wf8266Details}">
                  <td> <span th:text="${detail.triggerText}"></span> </td>
	                <td> <span th:text="${detail.name}"></span> </td>
                  <td> <span th:text="${detail.isUse}"></span> </td>
	                <td> <span th:text="${detail.reply}"></span> </td>
	                <td> <a th:id="|testTriggerUrl[${itemStar.index}]|" href="javascript:;" th:url="${detail.triggerUrl}">測試觸發</a><span th:text="${detail.triggerUrl}"></span> </td>
	              </tr>
	              <tr th:if="${funcType eq 'edit'}" th:each="detail,iterStat:${wf8266Details}">
	                <td>
	                  <input type="hidden" th:name="|details[${iterStat.index}].status|" value="U" />
	                  <a href="javascript:;" th:id="|details[${iterStat.index}].statusText|" th:onclick="|remove_detail(${iterStat.index})|" >刪除該資料</a>
									</td>
                  <td>
                    <input type="hidden" th:name="|details[${iterStat.index}].triggerText|" th:value="${detail.triggerText}" />
                    <span th:text="${detail.triggerText}"></span>
                  </td>
	                <td>
	                  <input th:name="|details[${iterStat.index}].name|" size="10" th:value="${detail.name}" /> 
	                </td>
	                <td> 
                    <label><input type="radio" th:name="|details[${iterStat.index}].isUse|" value="true" th:checked="${detail.isUse}" />是</label>
                    <label><input type="radio" th:name="|details[${iterStat.index}].isUse|" value="false" th:checked="${!detail.isUse}" />否</label>
                  </td>
	                <td> <input th:name="|details[${iterStat.index}].reply|" size="10" th:value="${detail.reply}" /> </td>
	                <td>
                   <label><input type="radio" th:name="|details[${iterStat.index}].cmd|" value="GPIO" th:checked="${detail.cmd eq 'GPIO'}" />GPIO</label>
	                </td>
                  <td> 
                   <select th:if="${funcType eq 'edit'}" th:name="|details[${iterStat.index}].data1|">
                    <option th:selected="true" >請選擇</option>
                    <option th:selected="${detail.data1 eq '5' }" th:value="5"  >1</option>
                    <option th:selected="${detail.data1 eq '4' }" th:value="4"  >2</option>
                    <option th:selected="${detail.data1 eq '12'}" th:value="12" >3</option>
                    <option th:selected="${detail.data1 eq '13'}" th:value="13" >4</option>
                    <option th:selected="${detail.data1 eq '1' }" th:value="1"  >5</option>
                    <option th:selected="${detail.data1 eq '14'}" th:value="14" >6</option>
                    <option th:selected="${detail.data1 eq '15'}" th:value="15" >7</option>
                    <option th:selected="${detail.data1 eq '16'}" th:value="16" >8</option>
                   </select>
                  </td>
                  
                  <td> 
                   <select th:if="${funcType eq 'edit'}" th:name="|details[${iterStat.index}].data2|">
                    <option th:selected="true" >請選擇</option>
                    <option th:selected="${detail.data2 eq '0'}" th:value="0" >開啟</option>
                    <option th:selected="${detail.data2 eq '1'}" th:value="1" >關閉</option>
                    <option th:selected="${detail.data2 eq '2'}" th:value="2" >反向</option>                    
<!--                     <option th:selected="${detail.data2 eq '3'}" th:value="3" >點動(高)</option> -->
                    <option th:selected="${detail.data2 eq '4'}" th:value="4" >點動(低)</option>
                   </select>
                  </td>
	              </tr>
	            </tbody>
	          </table>
	        
	        </td>
	      </tr>
	      <tr>
	       <td style="text-align: right;" colspan="2">
                            創建時間:<span th:text="${#temporals.format(wf8266.createDate, 'yyyy/MM/dd HH:mm:ss')}"></span> &ensp; 
                            修改時間:<span th:text="${#temporals.format(wf8266.modifyDate, 'yyyy/MM/dd HH:mm:ss')}"></span>
	       </td>
	      </tr>
	    </tbody>
	    <tfoot th:if="${funcType eq 'add' || funcType eq 'edit' }">
	      <tr>
	        <td style="text-align: center;" colspan="2"><input type="submit" value="送出" /></td>
	      </tr>
	    </tfoot>
	  </table>
	</form>

</body>

</html>