<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head>
<meta charset="UTF-8">
<title th:if="${funcType} == add">WF8266 - 新增</title>
<title th:if="${funcType} == view">WF8266 - 檢視</title>
<title th:if="${funcType} == edit">WF8266 - 修改</title>
<script>
  submin_form = function(){
    var jsonData = $("#wf8266_form").toJson();
    // console.log(jsonData);
    $.ajax({
      method: 'post',
      url: '/wf8266/save',
      data: jsonData,
      dataType: 'json',
      success: function(result){
        if(result.status === 'success'){
          window.location.replace("/wf8266/view/" + result.data.sn);
        }else{
          console.log(result);
        }
      },
      error: function(a,b,c){
        console.log(a,b,c)
      }
    });
  }
  $(function() {
    
      /** 新增/修改： 刪除該資料  **/
      remove_detail = function(index){
        $("#tr_detail_" + index).hide(200);
      };
      
      /** 新增/修改：新增一項  **/
      $("#add_detail").click(function(){
        var index = $("#detail_table").find("tr").length - 1;
        $("#detail_table").append(`
          <tr id="tr_detail_${index}">
            <td>
              <a href="javascript:;" class="btn btn-danger btn-sm" onClick="javascript:remove_detail(${index});" >
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>移除
              </a>
              <input type="hidden" name="detail[${index}].cmd" value="Relay" />
            </td>
            <td> <input size="10" class="form-control" name="detail[${index}].name"></input> </td>
            <td> 
              <input type="radio" name="detail[${index}].isUse" vlaue="true" checked="true">是</input>
              <input type="radio" name="detail[${index}].isUse" vlaue="false">否</input>
            </td>
            <td> <input size="15" class="form-control" name="detail[${index}].reply1"></input> </td>
            <td> <input size="15" class="form-control" name="detail[${index}].reply2"></input> </td>
            <td> 
            <select class="form-control" name="detail[${index}].relay">
             <option selected="selected" value="" >請選擇</option>
             <option value="1" >1</option>
             <option value="2" >2</option>
             <option value="3" >3</option>
             <option value="4" >4</option>
            </select>
           </td>
           <td> 
            <select class="form-control" name="detail[${index}].value">
             <option selected="selected" value="" >請選擇</option>
             <option value="0" > 開啟 </option>
             <option value="1" > 關閉 </option>
             <option value="4" > 按一下 </option>
            </select>
           </td>
          </tr>
        `);
      });
      
      /** 檢視：測試觸發 **/
      $("a[id^='testTriggerUrl']").click(function(){
        var triggerUrl = $(this).attr('url');
        $.get(triggerUrl);
      })
            
      $("#auto_location").autocomplete({
          minLength: 0,
          source: function(request,response){
          	$.ajax({
          	  method: 'post',
              url: '/location/autocomplete/getAll',
              data: request,
              dataType: 'json',
              success: function(result){
              	var data = [];
              	result.forEach((d) => {
              	  var value = d.name + " : " + d.address;
                  data.push({ label: value, value: value, object: d });
              	});
                response(data);
              }
            });
          },
          select: function(event,ui){
      	    var obj = ui.item.object;
      	    $("#locationId").val(obj.id);
      	    $("#auto_location").val(obj.name + " : " +obj.address);
          }
        })
        .blur(function(){ $(this).autocomplete('enable'); })
        .focus(function () { $(this).autocomplete('search', ''); });
  });
</script>
</head>
<body layout:fragment="content">
  
  <form id="wf8266_form" method="post" th:action="@{/wf8266/save}">
    <div class="row"> <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> <div class="col">
      <div class="card">    
        <div th:if="${funcType eq 'add'}" class="card-header">
          <span class="glyphicon glyphicon-align-justify"></span>WF8266 - 新增
        </div>
        <div th:if="${funcType eq 'edit'}" class="card-header">
          <span class="glyphicon glyphicon-align-justify"></span>WF8266 - 修改
        </div>
        <div th:if="${funcType eq 'view'}" class="card-header">
          <span class="glyphicon glyphicon-align-justify"></span>WF8266 - 檢視
            <a class="btn btn-success a-btn-second btn-sm" th:href="@{/wf8266/edit/{SN}(SN=${wf8266.sn})}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改 </a>
        </div>
        
        <div class="card-body" th:object="${wf8266}">
          <div class="row">
            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-6">
              <label class="font-weight-bold">晶片序號</label>
              <input th:if="${funcType eq 'edit' || funcType eq 'view'}" type="text" class="form-control" name="sn" th:value="*{sn}" readonly/>
              <input th:if="${funcType eq 'add'}" type="text" class="form-control" name="sn" />
            </div>
            
            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-6">
              <label class="font-weight-bold">晶片金鑰</label>
              <input th:if="${funcType eq 'edit' || funcType eq 'view'}" th:disabled="${funcType eq 'view'}" type="text" class="form-control" name="key" th:value="*{key}" />
              <input th:if="${funcType eq 'add'}" type="text" class="form-control" name="key" value="xoeExDUjSkPG2GMBDCAqfgPYl8v2" />
            </div>
            
            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-6">
              <label class="font-weight-bold">使用據點</label>
              <div th:if="${funcType eq 'edit' || funcType eq 'view'}">
                <input type="hidden" id="locationId" name="locationId" th:value="*{location.id}"></input>
                <input th:disabled="${funcType eq 'view'}" class="form-control" type="text" id="auto_location" th:value="|*{location.id} : *{location.address}|" ></input>
              </div>
              <div  th:if="${funcType eq 'add'}">
                <input type="hidden" id="locationId" name="locationId" ></input>
                <input class="form-control" type="text" id="auto_location" />
              </div>
            </div>
            
            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-6">
              <label class="font-weight-bold">是否啟用</label>
              <div th:if="${funcType eq 'edit' || funcType eq 'view'}">
                <label><input type="radio" name="isUse" value="true" th:disabled="${funcType eq 'view'}" th:checked="*{isUse}">是</label>
                <label><input type="radio" name="isUse" value="false" th:disabled="${funcType eq 'view'}" th:checked="!*{isUse}">否</label>
              </div>
              <div th:if="${funcType eq 'add' }">
                <label><input type="radio" name="isUse" value="true" checked >是</label>
                <label><input type="radio" name="isUse" value="false" >否</label>
              </div>
            </div>
            
            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">
              <label class="font-weight-bold">細項</label>
              <table class="table">
                <tr>
                  <td>
		              <a th:if="${funcType eq 'edit' || funcType eq 'add'}" href="javascript:;" class="btn btn-primary btn-sm btn-detail" id="add_detail">
		                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>新增
		              </a>
		              <table id="detail_table">
		                <thead>
		                  <tr class="center">
		                    <th th:if="${funcType eq 'edit' || funcType eq 'add'}">#</th>
		                    <th>指令名稱</th>
		                    <th>是否啟用</th>
		                    <th>觸發後回應</th>
		                    <th>執行後回應</th>
		                    <th>按鈕編號</th>
		                    <th>動作行為</th>
		                    <th th:if="${funcType eq 'view'}">測試</th>
		                  </tr>
		                </thead>
		                <tbody>
		                  <tr th:each="detail,iter:${wf8266?.details}" th:object="${detail}" th:id="|tr_detail_${iter.index}|">
		                    <td th:if="${funcType eq 'edit'}">
		                      <a href="javascript:;" class="btn btn-danger btn-sm" th:onclick="|remove_detail(${iter.index})|" >
		                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>移除
		                      </a>
		                      <input type="hidden" size="3" th:name="|detail[${iter.index}].cmd|" value="Relay" />
		                    </td>
		                    <td>
		                      <input th:if="${funcType eq 'edit' || funcType eq 'view'}" th:disabled="${funcType eq 'view'}" th:name="|detail[${iter.index}].name|" size="10" class="form-control" th:value="${detail.name}" /> 
		                      <input th:if="${ funcType eq 'add' }" th:name="|detail[${iter.index}].name|" class="form-control" size="10"  /> 
		                    </td>
		                    <td>
		                      <div th:if="${funcType eq 'edit' || funcType eq 'view'}">
		                        <label><input type="radio" th:name="|detail[${iter.index}].isUse|" value="true" th:disabled="${funcType eq 'view'}" th:checked="*{isUse}">是</label>
		                        <label><input type="radio" th:name="|detail[${iter.index}].isUse|" value="false" th:disabled="${funcType eq 'view'}" th:checked="!*{isUse}">否</label>
		                      </div>
		                      <div th:if="${ funcType eq 'add' }">
		                        <label><input type="radio" name="isUse" value="true" checked >是</label>
		                        <label><input type="radio" name="isUse" value="false" >否</label>
		                      </div>
		                    </td>
		                    <td> 
		                      <input th:if="${funcType eq 'edit' || funcType eq 'view'}" th:disabled="${funcType eq 'view'}" th:name="|detail[${iter.index}].reply1|" size="15" class="form-control" th:value="${detail.reply1}" /> 
		                      <input th:if="${ funcType eq 'add' }" th:name="|detail[${iter.index}].reply1|" size="15" class="form-control" th:value="${detail.reply1}" /> 
		                    </td>
		                    <td>
		                      <input th:if="${funcType eq 'edit' || funcType eq 'view'}" th:disabled="${funcType eq 'view'}" th:name="|detail[${iter.index}].reply2|" size="15" class="form-control" th:value="${detail.reply2}" />
		                      <input th:if="${ funcType eq 'add' }" th:name="|detail[${iter.index}].reply2|" size="15" class="form-control" th:value="${detail.reply2}" /> 
		                    </td>
		                    <td> 
		                     <select class="form-control" th:if="${funcType eq 'edit' || funcType eq 'view'}" th:disabled="${funcType eq 'view'}" th:name="|detail[${iter.index}].relay|">
		                      <option th:selected="true" >請選擇</option>
		                      <option th:selected="${detail.relay eq 1 }" th:value="1" >1</option>
		                      <option th:selected="${detail.relay eq 2 }" th:value="2" >2</option>
		                      <option th:selected="${detail.relay eq 3 }" th:value="3" >3</option>
		                      <option th:selected="${detail.relay eq 4 }" th:value="4" >4</option>
		                     </select>
		                    </td>
		                    <td> 
		                     <select class="form-control" th:if="${funcType eq 'edit' || funcType eq 'view'}" th:disabled="${funcType eq 'view'}" th:name="|detail[${iter.index}].value|">
		                      <option th:selected="true" >請選擇</option>
		                      <option th:selected="${detail.value eq 0 }" th:value="0" >開啟</option>
		                      <option th:selected="${detail.value eq 1 }" th:value="1" >關閉</option>
		                      <option th:selected="${detail.value eq 4 }" th:value="4" >按一下</option>
		                     </select>
		                    </td>
		                    <td th:if="${funcType eq 'view'}"> 
		                      <a th:id="|testTriggerUrl[${iter.index}]|" href="javascript:;" th:url="${detail.triggerUrl}" class="btn btn-warning btn-sm">
		                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>測試觸發
		                      </a>
		                    </td>
		                  </tr>
		                </tbody>
		              </table>
                  </td>
                </tr>
              </table>
            </div>
            
          </div>
          
          <div th:if="${funcType eq 'edit' || funcType eq 'view'}" class="row col justify-content-center">
            <div class="badge badge-info text-wrap col-11 col-sm-11 col-md-11 col-lg-11 col-xl-5">
              <span th:text="|建立時間：  *{#temporals.format(createDate, 'yyyy/MM/dd HH:mm:ss')}|"></span>
            </div>&emsp;
            <div class="badge badge-info text-wrap col-11 col-sm-11 col-md-11 col-lg-11 col-xl-5">
              <span th:text="|修改時間： *{#temporals.format(modifyDate, 'yyyy/MM/dd HH:mm:ss')}|"></span>
            </div>
          </div>

          <div th:if="${funcType eq 'edit' || funcType eq 'add'}"><div class="line"></div></div>
          <div class="row justify-content-center">
            <a th:if="${funcType eq 'edit' || funcType eq 'add'}">
              <button type="button" onclick="submin_form()" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>送出
              </button>
            </a>
          </div>
          
        </div>
        
      </div>
    </div> </div> </div>
    
  </form>

</body>

</html>