<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head>
<meta charset="UTF-8">
<title th:if="${funcType} == add">WF8266 - 新增</title>
<title th:if="${funcType} == view">WF8266 - 檢視</title>
<title th:if="${funcType} == edit">WF8266 - 修改</title>
<script>
  $(function() {
    
      /** 新增/修改： 刪除該資料  **/
      remove_detail = function(index){
        var status = $(`input[name="detail[${index}].status"]`);
        var statusText = $(`a[id="detail[${index}].statusText"]`);
        switch(status.val()){
          case 'U':
            status.val('D');
            statusText.html("送出後移除")
            break;
          case 'D':
            status.val('U');
            statusText.html("移除")
            break;
          case 'N':
            status.val('D');
            $("#tr_detail_" + index).hide(200);
            break;
        }
      };
      
      /** 新增/修改：新增一項  **/
      $("#add_detail").click(function(){
        var index = $("#detail_table").find("tr").length - 1;
        $("#detail_table").append(`
          <tr id="tr_detail_${index}">
            <td> 
              <input type="hidden" name="detail[${index}].status" value="N" /> 
              <a href="javascript:;" onClick="javascript:remove_detail(${index});" >移除</a>
              <input type="hidden" name="detail[${index}].cmd" value="Relay" />
            </td>
            <td> <input size="10" name="detail[${index}].name"></input> </td>
            <td> 
              <input type="radio" name="detail[${index}].isUse" vlaue="true" checked="true">是</input>
              <input type="radio" name="detail[${index}].isUse" vlaue="false">否</input>
            </td>
            <td> <input size="10" name="detail[${index}].reply1"></input> </td>
            <td> <input size="10" name="detail[${index}].reply2"></input> </td>
            <td> 
            <select name="detail[${index}].relay">
             <option selected="selected" value="" >請選擇</option>
             <option value="1"  >1</option>
             <option value="2"  >2</option>
             <option value="3" >3</option>
             <option value="4" >4</option>
            </select>
           </td>
           <td> 
            <select name="detail[${index}].value">
             <option selected="selected" value="" >請選擇</option>
             <option value="0" > 開啟 </option>
             <option value="1" > 關閉 </option>
             <option value="4" > 按一下 </option>
            </select>
           </td>
          </tr>
        `);
      });
      
      /** 檢視：測試觸發 **/
      $("a[id^='testTriggerUrl']").click(function(){
        var triggerUrl = $(this).attr('url');
        $.get(triggerUrl);
      })
            
      $("#auto_location").autocomplete({
          minLength: 0,
          source: function(request,response){
          	$.ajax({
          	  method: 'post',
              url: '/location/autocomplete/getAll',
              data: request,
              dataType: 'json',
              success: function(result){
              	var data = [];
              	result.forEach((d) => {
                  data.push({ label: d.name, value: d.name, object: d });
              	});
                response(data);
              }
            });
          },
          select: function(event,ui){
        	  var obj = ui.item.object;
        	  $("#locationId").val(obj.id);
        	  $("#location_address").text(obj.address);
          }
        })
        .blur(function(){
            $(this).autocomplete('enable');
        })
        .focus(function () {
            $(this).autocomplete('search', '');
        });
      
  });
</script>
</head>
<body layout:fragment="content">
  <h1 th:if="${funcType eq 'add'}">WF8266 - 新增</h1>
  <h1 th:if="${funcType eq 'view'}">WF8266 - 檢視</h1>
  <h1 th:if="${funcType eq 'edit'}">WF8266 - 修改</h1>

  <p th:if="${funcType eq 'view'}" th:text="${status}"></p>
  <a th:if="${funcType eq 'view'}" th:href="@{/wf8266/edit/{SN}(SN=${wf8266.sn})}">修改</a>
  
  <form method="post" th:action="@{/wf8266/save}">
    <table style="border:3px #cccccc solid;" cellpadding="10" border='1'>
      <tbody>
        <tr>
          <td>晶片序號：</td>
          <td th:if="${funcType eq 'add' }">
            <input  name="sn" size="10" ></input>
          </td>
          <td th:if="${funcType eq 'view' }">
            <span th:text="${wf8266.sn}"></span>
          </td>
          <td th:if="${funcType eq 'edit' }">
            <input th:value="${wf8266.sn}" name="sn" type="hidden" ></input>
            <span th:text="${wf8266.sn}"></span>
          </td>
        </tr>
        
        <tr>
          <td>晶片金鑰：</td>
          <td th:if="${funcType eq 'add' }">
            <input name="key" size="40" value="xoeExDUjSkPG2GMBDCAqfgPYl8v2" ></input>
          </td>
          <td th:if="${funcType eq 'view' }">
            <span th:text="${wf8266.key}"></span>
          </td>
          <td th:if="${funcType eq 'edit' }">
             <input name="key" size="40" th:value="${wf8266.key}" ></input>
          </td>
        </tr>
        
        <tr>
          <td>是否啟用：</td>
          <td th:if="${funcType eq 'add' }">
            <label><input type="radio" name="isUse" value="true" checked />啟用</label>
            <label><input type="radio" name="isUse" value="false" />停用</label>
          </td>
          <td th:if="${funcType eq 'view' }">
            <label><input type="radio" name="isUse" value="true" checked />啟用</label>
            <label><input type="radio" name="isUse" value="false" />停用</label>
          </td>
          <td th:if="${funcType eq 'edit' }">
            <label><input type="radio" name="isUse" value="true" th:checked="${wf8266.isUse}" />啟用</label>
            <label><input type="radio" name="isUse" value="false" th:checked="${not wf8266.isUse}" />停用</label>
          </td>
        </tr>
        
        <tr>
          <td>使用據點：</td>
          <td th:if="${funcType eq 'add'}">
            <input type="hidden" id="locationId" name="locationId" ></input>
            <input type="text" size="10" id="auto_location" ></input>
            <span id="location_address" ></span>
          </td>
          <td th:if="${funcType eq 'view' }">
            <span th:text="${wf8266.location?.name}" ></span>
          </td>
          <td th:if="${funcType eq 'edit' && wf8266?.location == null}">
              <input type="hidden" id="locationId" name="locationId" ></input>
              <input type="text" size="10" id="auto_location" ></input>
              <span id="location_address" ></span>
          </td>
          <td th:if="${funcType eq 'edit' && wf8266?.location != null}">
              <input type="hidden" id="locationId" name="locationId" th:value="${wf8266.location.id}" ></input>
              <input type="text" size="10" id="auto_location" th:value="${wf8266.location.name}" ></input>
              <span id="location_address" th:value="${wf8266.location.address}" ></span>
          </td>
        </tr>
        
        <tr>
          <td>細項：</td>
          <td th:if="${funcType eq 'add' || funcType eq 'edit'}">
            <a href="javascript:;" id="add_detail">新增一項</a>
            <table id="detail_table" style="border:1px #cccccc solid;" cellpadding="5" border='1'>
              <thead>
                <tr>
                  <th>操作</th>
                  <th>指令名稱</th>
                  <th>是否啟用</th>
                  <th>觸發後回應</th>
                  <th>執行後回應</th>
                  <th>按鈕編號</th>
                  <th>動作行為</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="detail,iterStat:${wf8266?.details}">
                  <td>
                    <input type="hidden" th:name="|detail[${iterStat.index}].status|" value="U" />
                    <input type="hidden" th:name="|detail[${iterStat.index}].triggerText|" th:value="${detail.triggerText}" />
                    <a href="javascript:;" th:id="|detail[${iterStat.index}].statusText|" th:onclick="|remove_detail(${iterStat.index})|" >移除</a>
                    <input type="hidden" th:name="|detail[${iterStat.index}].cmd|" value="Relay" />
                  </td>
                  <td>
                    <input th:name="|detail[${iterStat.index}].name|" size="10" th:value="${detail.name}" /> 
                  </td>
                  <td> 
                    <label><input type="radio" th:name="|detail[${iterStat.index}].isUse|" value="true" th:checked="${detail.isUse}" />是</label>
                    <label><input type="radio" th:name="|detail[${iterStat.index}].isUse|" value="false" th:checked="${!detail.isUse}" />否</label>
                  </td>
                  <td> <input th:name="|detail[${iterStat.index}].reply1|" size="10" th:value="${detail.reply1}" /> </td>
                  <td> <input th:name="|detail[${iterStat.index}].reply2|" size="10" th:value="${detail.reply2}" /> </td>
                  <td> 
                   <select th:name="|detail[${iterStat.index}].relay|">
                    <option th:selected="true" >請選擇</option>
                    <option th:selected="${detail.relay eq 1 }" th:value="1" >1</option>
                    <option th:selected="${detail.relay eq 2 }" th:value="2" >2</option>
                    <option th:selected="${detail.relay eq 3 }" th:value="3" >3</option>
                    <option th:selected="${detail.relay eq 4 }" th:value="4" >4</option>
                   </select>
                  </td>
                  
                  <td> 
                   <select th:name="|detail[${iterStat.index}].value|">
                    <option th:selected="true" >請選擇</option>
                    <option th:selected="${detail.value eq 0 }" th:value="0" >開啟</option>
                    <option th:selected="${detail.value eq 1 }" th:value="1" >關閉</option>
                    <option th:selected="${detail.value eq 4 }" th:value="4" >按一下</option>
                   </select>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          
          <td th:if="${funcType eq 'view'}">
            <table id="detail_table" style="border:1px #cccccc solid;" cellpadding="5" border='1'>
              <thead>
                <tr>
                  <th>指令名稱</th>
                  <th>是否啟用</th>
                  <th>觸發後回應</th>
                  <th>執行後回應</th>
                  <th>測試</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="detail,itemStar:${wf8266?.details}">
                  <td> <span th:text="${detail.name}"></span> </td>
                  <td> <span th:text="${detail.isUse}"></span> </td>
                  <td> <span th:text="${detail.reply1}"></span> </td>
                  <td> <span th:text="${detail.reply2}"></span> </td>
                  <td> <a th:id="|testTriggerUrl[${itemStar.index}]|" href="javascript:;" th:url="${detail.triggerUrl}">測試觸發</a></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        
        <tr th:if="${funcType eq 'view' || funcType eq 'edit'}">
         <td style="text-align: right;" colspan="2">
                            創建時間:<span th:text="${wf8266.createDate}"></span> &ensp; 修改時間:<span th:text="${wf8266.modifyDate}"></span>
         </td>
        </tr>
      </tbody>
      <tfoot th:if="${funcType eq 'add' || funcType eq 'edit'}">
        <tr>
          <td style="text-align: center;" colspan="2">
            <input type="submit" value="送出" />
          </td>
        </tr>
      </tfoot>
    </table>
  </form>

</body>

</html>