<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"></head>
<header th:fragment="header(headerInfo)" >
  <nav id="navbar" class="navbar navbar-light">
	<button class="hamburger-menu" id="sidebarCollapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<div id="navbar_logo">
		<img style="width:110px;" th:src="@{/images/logo.png}" />
	</div>
	<div id="navbar_title">
		<h2>首頁</h2>
		<div th:if="${#ctx.containsVariable('headerInfo')}" th:object="${headerInfo}">
			  <span th:text="*{name}"></span>:<span th:text="*{data}"></span>
		</div>
	</div>
  </nav>
  
  <nav id="navbar_sub" class="navbar_sub navbar-light">
    <div id="navbar_subtitle">
      <h6>首頁&emsp;&frasl;&emsp;Line應用管理&emsp;&frasl;&emsp;LineRichMenu管理</h6>
    </div> 
  </nav>

</header>

</html>