<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<div th:fragment="sidebar">
		
	<script type="text/javascript">
	    $(document).ready(function () {
	        $('#sidebarCollapse').on('click', function () {
	            $('#sidebar').toggleClass('active');
				$('#sidebarCollapse').toggleClass('active');
				$('.container').toggleClass('active');
				$('.navbar').toggleClass('active');
				$('.navbar_sub').toggleClass('active');
				$('#navbar_title').toggleClass('active');
	        });
	    });
  	</script>
	<div class="wrapper">
    <nav id="sidebar">
		<ul class="list-unstyled components">
			<p>測試區</p>
			<li class="active">
				<div class="row">
					<img th:src="@{/images/line.png}" src="../static/images/line.png">
					<a href="#LineManage" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">1. Line應用管理</a>
				</div>
				<ul class="collapse list-unstyled" id="LineManage">
			  		<li>
					<div class="row">
						<img th:src="@{/images/line.png}" src="../static/images/line.png">
						<a th:href="@{/line/user/list}">1-1. LineUser管理</a>
					</div> 
			  		</li>
					<li>
					<div class="row">
						<img th:src="@{/images/line.png}" src="../static/images/line.png">
						<a href="#LineManage_A" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">1-2. LineRichMenu管理</a>
					</div> 
						<ul class="collapse list-unstyled" id="LineManage_A">
				  			<li>
							<div class="row">
								<img th:src="@{/images/line.png}" src="../static/images/line.png">
								<a id="multi" th:href="@{/line/rich_menu/list}">1-2-1. LineRIchMenu列表</a>
							</div>
					 	 	</li>
               			  	<li>
               			  		<div class="row">
									<img th:src="@{/images/line.png}" src="../static/images/line.png">
									<a id="multi" th:href="@{/line/rich_menu/template/list}">1-2-1. RIchMenu樣式列表</a>
								</div>
               			  	</li>
						</ul>
					</li>
		            <li>
					<div class="row">
						<img th:src="@{/images/line.png}" src="../static/images/line.png">
						<a th:href="@{/line/log/list}">1-3. LineLog管理</a>
					</div>
		            </li>
				</ul>
			</li>
			<li>
			<div class="row">
				<img th:src="@{/images/settings.png}" src="../static/images/settings.png">
				<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">2. Iot應用管理</a>
			</div>
				<ul class="collapse list-unstyled" id="pageSubmenu">
					<li>
					<div class="row">
						<img th:src="@{/images/settings.png}" src="../static/images/settings.png">
						<a th:href="@{/wf8266/list}">2-1. WF8266管理</a>
					</div>
					</li>
				</ul>
			</li>
		</ul>
    </nav>
  </div>
</div>
</html>