<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<div th:fragment="sidebar">

  <script type="text/javascript">
  <!-- 目前header、sidebar、index的onclick事件全部都寫在這裡 -->
  $(document).ready(function() {
    $('#sidebarCollapse').on('click', function() {
      $('#sidebar').toggleClass('active');
      $('#sidebarCollapse').toggleClass('active');
      $('.container-fluid').toggleClass('active');
      $('.navbar').toggleClass('active');
      $('.navbar_sub').toggleClass('active');
      $('#navbar_title').toggleClass('active');
    });
    
    $('#navbar_user').on('click', function() {
      $('.dropdown-menu').toggleClass('active');
    });
    
    $('.card-header').on('click', function() {
    	var toggleId = $(this).attr('toggleId');
    	$(`[class='card-body'][toggleId='${toggleId}']`).slideToggle('active');
    });
  });
  
  var toggle_next_menu = function(next_menu_id){
    $(next_menu_id).toggle(300);
  }
  </script>
  
  <script th:inline="javascript">
    var menu1s = [[${session.menu}]];
    var URI = [[${session.URI}]];
	var currentMenuName ;
    $.each(menu1s , function(index ,menu1){
      // 確認第一層網址
      if(URI == menu1.url){
//         console.log(menu1.menuName , URI);
        currentMenuName = menu1.menuName;
      }
      // 查詢是否有第二層
      var menu2s = menu1.childMenus;
      if( menu2s != null && menu2s.length > 0 ){
        $.each(menu2s , function(index ,menu2){
          // 確認第二層網址
          if(URI == menu2.url){
//             console.log(menu2.menuName , URI);
            currentMenuName = menu2.menuName;
          }
          // 查詢是否有第三層
          var menu3s = menu2.childMenus;
          if( menu3s != null && menu3s.length > 0 ){
            $.each(menu3s , function(index ,menu3){
              // 確認第三層網址
              if(URI == menu3.url){
//                 console.log(menu3.menuName , URI);
                currentMenuName = menu3.menuName;
              }
            })
          }
        });
      }
    });
    if(currentMenuName){
      var menuNameList = [ currentMenuName.substring(0,3) , currentMenuName.substring(0,5) , currentMenuName.substring(0,7) ];
    }

//     console.log(currentMenuName , menuNameList);
  </script>
   
  <div class="wrapper">
    <nav id="sidebar">
      <ul class="list-unstyled components">
        <p>測試區</p>
        
        <script th:inline="javascript">
          var menu1s = [[${session.menu}]];
          for(i in menu1s){
            var html_write = "";
            var menu1 = menu1s[i];
//             console.log(menu1);
            if( !( menu1.url == '#' || menu1.url == '' ) && menuNameList != null && menuNameList.includes(menu1.menuName) ){
              html_write += "<li class='active selected'>";
            }else{             
              html_write += "<li class='active'>";
            }
            
            html_write += "<div class='row'>";
            
            if(menu1.url == '#' || menu1.url == ''){
              html_write += "<a href='javascript:;' class='dropdown-toggle' onclick='toggle_next_menu(\"" + menu1.menuName + "\")' >" + menu1.name + "</a>";
            }else{
              html_write += "<a href='" + menu1.url + "'>" + menu1.name + "</a>";
            }
            
            html_write += "</div>";
            
            var menu2s = menu1.childMenus;
            if( menu2s != null && menu2s.length > 0 ){
              if(menuNameList != null && menuNameList.includes(menu1.menuName)){
                html_write += "<ul class='collapse list-unstyled show' id='" + menu1.menuName.substring(1) + "'>";
              }else{
              	html_write += "<ul class='collapse list-unstyled' id='" + menu1.menuName.substring(1) + "'>";
              }
              for(j in menu2s){
                var menu2 = menu2s[j];
                if( menuNameList != null && menuNameList.includes(menu2.menuName) ){
                  html_write += "<li class='active selected'>";
                }else{             
                  html_write += "<li class='active'>";
                }
                html_write += "<div class='row'>";
                if(menu2.url == '#' || menu2.url == ''){
                  html_write += "<a href='javascript:;' class='dropdown-toggle' onclick='toggle_next_menu(\"" + menu2.menuName + "\")' >" + menu2.name + "</a>";
                }else{
                  html_write += "<a href='" + menu2.url + "'>" + menu2.name + "</a>";
                }
                html_write += "</div>";
                
                var menu3s = menu2.childMenus;
                if( menu3s != null && menu3s.length > 0 ){
                  
                  html_write += "<ul class='collapse list-unstyled' id='" + menu2.menuName.substring(1) +"'>";
                  
                  for(j in menu3s){
                    var menu3 = menu3s[j];
                    html_write += "<li class='active'>";
                    html_write += "<div class='row'>";
                    if(menu3.url == '#' || menu3.url == ''){
                      html_write += "<a href='javascript:;' class='dropdown-toggle' onclick='toggle_next_menu(\"" + menu3.menuName + "\")' >" + menu3.name + "</a>";
                    }else{
                      html_write += "<a href='" + menu3.url + "'>" + menu3.name + "</a>";
                    }
                    html_write += "</div>";
                  html_write += "</li>";
                  }
                  html_write += "</ul>";
                }
                
              html_write += "</li>";
              }
              html_write += "</ul>";
            }
            html_write += "</li>";
            
            document.write(html_write);
          }
        </script>
        
      </ul>
    </nav>
  </div>
</div>
</html>