<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<div th:fragment="sidebar">

  <script type="text/javascript">
  <!-- 目前header、sidebar、index的onclick事件全部都寫在這裡 -->
  $(document).ready(function() {
    $('#sidebarCollapse').on('click', function() {
      $('#sidebar').toggleClass('active');
      $('#sidebarCollapse').toggleClass('active');
      $('.container-fluid').toggleClass('active');
      $('.navbar').toggleClass('active');
      $('.navbar_sub').toggleClass('active');
      $('#navbar_title').toggleClass('active');
    });
    
    $('#navbar_user').on('click', function() {
      $('.dropdown-menu').toggleClass('active');
    });
    
    $('.card-header').on('click', function() {
    	var toggleId = $(this).attr('toggleId');
    	$(`[class='card-body'][toggleId='${toggleId}']`).slideToggle('active');
    });
  });
  </script>
  
  <div class="wrapper">
    <nav id="sidebar">
      <ul class="list-unstyled components">
        <p>測試區</p>

        <li>
          <div class="row">
            <img th:src="@{/images/icon/admin.png}" src="../static/images/icon/admin.png">
            <a th:href="@{/permission/list}">權限管理(X)</a>
          </div>
        </li>
        
        <li>
          <div class="row">
            <img th:src="@{/images/icon/admin.png}" src="../static/images/icon/admin.png">
            <a th:href="@{/menu/list}">選單管理(X)</a>
          </div>
        </li>
        
        <li class="active">
          <div class="row">
            <img th:src="@{/images/icon/line.png}" src="../static/images/icon/line.png">
            <a href="#PERSONNEL" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">人事管理</a>
          </div>
          <ul class="collapse list-unstyled" id="PERSONNEL">
            <li>
              <div class="row">
                <img th:src="@{/images/icon/admin.png}" src="../static/images/icon/admin.png">
                <a th:href="@{/employee/list}">員工管理</a>
              </div>
            </li>
    
            <li>
              <div class="row">
                <img th:src="@{/images/icon/admin.png}" src="../static/images/icon/admin.png">
                <a th:href="@{/position/list}">職階管理</a>
              </div>
            </li>
          </ul>
        </li>
            
        
        <li>
          <div class="row">
            <img th:src="@{/images/icon/admin.png}" src="../static/images/icon/admin.png">
            <a th:href="@{/location/list}">據點管理</a>
          </div>
        </li>

        <li class="active">
          <div class="row">
            <img th:src="@{/images/icon/line.png}" src="../static/images/icon/line.png">
            <a href="#LineManage" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">1. Line@管理</a>
          </div>
          <ul class="collapse list-unstyled" id="LineManage">
            <li>
              <div class="row">
                <img th:src="@{/images/icon/line.png}" src="../static/images/icon/line.png" style="visibility:hidden;"> <a th:href="@{/line/user/list}">1-1. 會員管理</a>
              </div>
            </li>
            <li>
              <div class="row">
                <img th:src="@{/images/icon/line.png}" src="../static/images/icon/line.png" style="visibility:hidden;"> <a href="#LineManage_A" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">1-2.
                  Line選單管理</a>
              </div>
              <ul class="collapse list-unstyled" id="LineManage_A">
                <li>
                  <div class="row">
                    <img th:src="@{/images/icon/line.png}" src="../static/images/icon/line.png" style="visibility:hidden;"> <a id="multi" th:href="@{/line/rich_menu/list}">1-2-1. 選單列表</a>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <img th:src="@{/images/icon/line.png}" src="../static/images/icon/line.png" style="visibility:hidden;"> <a id="multi" th:href="@{/line/rich_menu/template/list}">1-2-2. 樣式列表</a>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <div class="row">
                <img th:src="@{/images/icon/line.png}" src="../static/images/icon/line.png" style="visibility:hidden;"> <a th:href="@{/line/log/list}">1-3. 紀錄管理</a>
              </div>
            </li>
          </ul>
        </li>

        <li>
          <div class="row">
          <img th:src="@{/images/icon/line.png}" src="../static/images/icon/line.png" style="visibility:hidden;"> <a th:href="@{/wf8266/list}">WF8266管理(X)</a>
          </div>
        </li>
        
      </ul>
    </nav>
  </div>
</div>
</html>