<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head>
<meta charset="UTF-8">
<title>首頁</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../static/css/bootstrap-3.3.7/bootstrap-glyphicon.css">
	<link rel="stylesheet" href="../static/css/bootstrap-4.3.1/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/bootstrap-4.3.1/bootstrap-grid.min.css">
	<link rel="stylesheet" href="../static/css/bootstrap-4.3.1/bootstrap-reboot.min.css">
	
	<!-- Scripts -->
	<script type="text/javascript" src="../static/js/jQuery/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-4.3.1/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap-4.3.1/bootstrap.min.js"></script>
	
	<!-- CSS -->
	<link rel=stylesheet type="text/css" href="../static/css/index_style.css">
	
	<!--<script type="text/javascript" src="../static/js/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/moment.min.js"></script>
	<script type="text/javascript" src="../static/js/daterangepicker.min.js"></script>
	<link rel=stylesheet type="text/css" href="../static/css/daterangepicker.css">-->
	<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>-->
	<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>-->
	<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<!--<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />-->
	
	
	
</head>
<body layout:fragment="content">
<div class="container-fluid">
	<ol class="breadcrumb">
	  <li><a href="#">Home</a></li>
	  <li><a href="#">Library</a></li>
	  <li class="active">Data</li>
	</ol>

	<input type="text" name="datetimes" style="width:300px;"/>
	<script>
	$(function() {
	  $('input[name="datetimes"]').daterangepicker({
		timePicker: true,
		timePicker24Hour: true,
		cancelClass: "btn-danger",
		startDate: moment().startOf('hour'),
		endDate: moment().startOf('hour').add(32, 'hour'),
		locale: {
		  format: 'YYYY/MM/DD hh:mm A',
		  applyLabel: '提交',
		  cancelLabel: '取消'
		}	
	  });
	});
	</script>	
	
	<input type="text" name="demo" style="width:300px;"/>
	<script>
		$('input[name="demo"]').daterangepicker({
    "showDropdowns": true,
    "timePicker": true,
    "timePicker24Hour": true,
    "autoApply": true,
    "startDate": "05/07/2019",
    "endDate": "05/13/2019",
    "minDate": "YYYY/MM/DD",
    "maxDate": "YYYY/MM/DD",
    "cancelClass": "btn-danger"
}, function(start, end, label) {
  console.log('New date range selected: ' + start.format('YYYY-MM-DD hh:mm') + ' to ' + end.format('YYYY-MM-DD hh:mm') + ' (predefined range: ' + label + ')');
});
	
	</script>
	
 	<!-- <div class="daterangepicker ltr show-calendar opensright" style="top: 94px; left: 15px; right: auto; display: block;">
    <div class="ranges"></div>
    <div class="drp-calendar left">
      <div class="calendar-table">
        <table class="table-condensed">
          <thead>
            <tr>
              <th class="prev available"><span></span></th>
              <th class="month" colspan="5">五月 2019</th>
              <th></th>
            </tr>
            <tr>
              <th>日</th>
              <th>一</th>
              <th>二</th>
              <th>三</th>
              <th>四</th>
              <th>五</th>
              <th>六</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="weekend off ends available" data-title="r0c0">28</td>
              <td class="off ends available" data-title="r0c1">29</td>
              <td class="off ends available" data-title="r0c2">30</td>
              <td class="available" data-title="r0c3">1</td>
              <td class="available" data-title="r0c4">2</td>
              <td class="available" data-title="r0c5">3</td>
              <td class="weekend available" data-title="r0c6">4</td>
            </tr>
            <tr>
              <td class="weekend available" data-title="r1c0">5</td>
              <td class="available" data-title="r1c1">6</td>
              <td class="available" data-title="r1c2">7</td>
              <td class="available" data-title="r1c3">8</td>
              <td class="available" data-title="r1c4">9</td>
              <td class="available" data-title="r1c5">10</td>
              <td class="weekend available" data-title="r1c6">11</td>
            </tr>
            <tr>
              <td class="weekend available" data-title="r2c0">12</td>
              <td class="today active start-date available" data-title="r2c1">13</td>
              <td class="in-range available" data-title="r2c2">14</td>
              <td class="active end-date available" data-title="r2c3">15</td>
              <td class="available" data-title="r2c4">16</td>
              <td class="available" data-title="r2c5">17</td>
              <td class="weekend available" data-title="r2c6">18</td>
            </tr>
            <tr>
              <td class="weekend available" data-title="r3c0">19</td>
              <td class="available" data-title="r3c1">20</td>
              <td class="available" data-title="r3c2">21</td>
              <td class="available" data-title="r3c3">22</td>
              <td class="available" data-title="r3c4">23</td>
              <td class="available" data-title="r3c5">24</td>
              <td class="weekend available" data-title="r3c6">25</td>
            </tr>
            <tr>
              <td class="weekend available" data-title="r4c0">26</td>
              <td class="available" data-title="r4c1">27</td>
              <td class="available" data-title="r4c2">28</td>
              <td class="available" data-title="r4c3">29</td>
              <td class="available" data-title="r4c4">30</td>
              <td class="available" data-title="r4c5">31</td>
              <td class="weekend off ends available" data-title="r4c6">1</td>
            </tr>
            <tr>
              <td class="weekend off ends available" data-title="r5c0">2</td>
              <td class="off ends available" data-title="r5c1">3</td>
              <td class="off ends available" data-title="r5c2">4</td>
              <td class="off ends available" data-title="r5c3">5</td>
              <td class="off ends available" data-title="r5c4">6</td>
              <td class="off ends available" data-title="r5c5">7</td>
              <td class="weekend off ends available" data-title="r5c6">8</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="calendar-time">
        <select class="hourselect">
          <option value="0">
            0
          </option>
          <option value="1">
            1
          </option>
          <option value="2">
            2
          </option>
          <option value="3">
            3
          </option>
          <option value="4">
            4
          </option>
          <option value="5">
            5
          </option>
          <option value="6">
            6
          </option>
          <option value="7">
            7
          </option>
          <option value="8">
            8
          </option>
          <option value="9">
            9
          </option>
          <option value="10">
            10
          </option>
          <option value="11">
            11
          </option>
          <option value="12">
            12
          </option>
          <option value="13">
            13
          </option>
          <option value="14">
            14
          </option>
          <option value="15">
            15
          </option>
          <option selected="selected" value="16">
            16
          </option>
          <option value="17">
            17
          </option>
          <option value="18">
            18
          </option>
          <option value="19">
            19
          </option>
          <option value="20">
            20
          </option>
          <option value="21">
            21
          </option>
          <option value="22">
            22
          </option>
          <option value="23">
            23
          </option>
        </select> : <select class="minuteselect">
          <option selected="selected" value="0">
            00
          </option>
          <option value="1">
            01
          </option>
          <option value="2">
            02
          </option>
          <option value="3">
            03
          </option>
          <option value="4">
            04
          </option>
          <option value="5">
            05
          </option>
          <option value="6">
            06
          </option>
          <option value="7">
            07
          </option>
          <option value="8">
            08
          </option>
          <option value="9">
            09
          </option>
          <option value="10">
            10
          </option>
          <option value="11">
            11
          </option>
          <option value="12">
            12
          </option>
          <option value="13">
            13
          </option>
          <option value="14">
            14
          </option>
          <option value="15">
            15
          </option>
          <option value="16">
            16
          </option>
          <option value="17">
            17
          </option>
          <option value="18">
            18
          </option>
          <option value="19">
            19
          </option>
          <option value="20">
            20
          </option>
          <option value="21">
            21
          </option>
          <option value="22">
            22
          </option>
          <option value="23">
            23
          </option>
          <option value="24">
            24
          </option>
          <option value="25">
            25
          </option>
          <option value="26">
            26
          </option>
          <option value="27">
            27
          </option>
          <option value="28">
            28
          </option>
          <option value="29">
            29
          </option>
          <option value="30">
            30
          </option>
          <option value="31">
            31
          </option>
          <option value="32">
            32
          </option>
          <option value="33">
            33
          </option>
          <option value="34">
            34
          </option>
          <option value="35">
            35
          </option>
          <option value="36">
            36
          </option>
          <option value="37">
            37
          </option>
          <option value="38">
            38
          </option>
          <option value="39">
            39
          </option>
          <option value="40">
            40
          </option>
          <option value="41">
            41
          </option>
          <option value="42">
            42
          </option>
          <option value="43">
            43
          </option>
          <option value="44">
            44
          </option>
          <option value="45">
            45
          </option>
          <option value="46">
            46
          </option>
          <option value="47">
            47
          </option>
          <option value="48">
            48
          </option>
          <option value="49">
            49
          </option>
          <option value="50">
            50
          </option>
          <option value="51">
            51
          </option>
          <option value="52">
            52
          </option>
          <option value="53">
            53
          </option>
          <option value="54">
            54
          </option>
          <option value="55">
            55
          </option>
          <option value="56">
            56
          </option>
          <option value="57">
            57
          </option>
          <option value="58">
            58
          </option>
          <option value="59">
            59
          </option>
        </select>
      </div>
    </div>
    <div class="drp-calendar right">
      <div class="calendar-table">
        <table class="table-condensed">
          <thead>
            <tr>
              <th></th>
              <th class="month" colspan="5">六月 2019</th>
              <th class="next available"><span></span></th>
            </tr>
            <tr>
              <th>日</th>
              <th>一</th>
              <th>二</th>
              <th>三</th>
              <th>四</th>
              <th>五</th>
              <th>六</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="weekend off ends available" data-title="r0c0">26</td>
              <td class="off ends available" data-title="r0c1">27</td>
              <td class="off ends available" data-title="r0c2">28</td>
              <td class="off ends available" data-title="r0c3">29</td>
              <td class="off ends available" data-title="r0c4">30</td>
              <td class="off ends available" data-title="r0c5">31</td>
              <td class="weekend available" data-title="r0c6">1</td>
            </tr>
            <tr>
              <td class="weekend available" data-title="r1c0">2</td>
              <td class="available" data-title="r1c1">3</td>
              <td class="available" data-title="r1c2">4</td>
              <td class="available" data-title="r1c3">5</td>
              <td class="available" data-title="r1c4">6</td>
              <td class="available" data-title="r1c5">7</td>
              <td class="weekend available" data-title="r1c6">8</td>
            </tr>
            <tr>
              <td class="weekend available" data-title="r2c0">9</td>
              <td class="available" data-title="r2c1">10</td>
              <td class="available" data-title="r2c2">11</td>
              <td class="available" data-title="r2c3">12</td>
              <td class="available" data-title="r2c4">13</td>
              <td class="available" data-title="r2c5">14</td>
              <td class="weekend available" data-title="r2c6">15</td>
            </tr>
            <tr>
              <td class="weekend available" data-title="r3c0">16</td>
              <td class="available" data-title="r3c1">17</td>
              <td class="available" data-title="r3c2">18</td>
              <td class="available" data-title="r3c3">19</td>
              <td class="available" data-title="r3c4">20</td>
              <td class="available" data-title="r3c5">21</td>
              <td class="weekend available" data-title="r3c6">22</td>
            </tr>
            <tr>
              <td class="weekend available" data-title="r4c0">23</td>
              <td class="available" data-title="r4c1">24</td>
              <td class="available" data-title="r4c2">25</td>
              <td class="available" data-title="r4c3">26</td>
              <td class="available" data-title="r4c4">27</td>
              <td class="available" data-title="r4c5">28</td>
              <td class="weekend available" data-title="r4c6">29</td>
            </tr>
            <tr>
              <td class="weekend available" data-title="r5c0">30</td>
              <td class="off ends available" data-title="r5c1">1</td>
              <td class="off ends available" data-title="r5c2">2</td>
              <td class="off ends available" data-title="r5c3">3</td>
              <td class="off ends available" data-title="r5c4">4</td>
              <td class="off ends available" data-title="r5c5">5</td>
              <td class="weekend off ends available" data-title="r5c6">6</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="calendar-time">
        <select class="hourselect">
          <option selected="selected" value="0">
            0
          </option>
          <option value="1">
            1
          </option>
          <option value="2">
            2
          </option>
          <option value="3">
            3
          </option>
          <option value="4">
            4
          </option>
          <option value="5">
            5
          </option>
          <option value="6">
            6
          </option>
          <option value="7">
            7
          </option>
          <option value="8">
            8
          </option>
          <option value="9">
            9
          </option>
          <option value="10">
            10
          </option>
          <option value="11">
            11
          </option>
          <option value="12">
            12
          </option>
          <option value="13">
            13
          </option>
          <option value="14">
            14
          </option>
          <option value="15">
            15
          </option>
          <option value="16">
            16
          </option>
          <option value="17">
            17
          </option>
          <option value="18">
            18
          </option>
          <option value="19">
            19
          </option>
          <option value="20">
            20
          </option>
          <option value="21">
            21
          </option>
          <option value="22">
            22
          </option>
          <option value="23">
            23
          </option>
        </select> : <select class="minuteselect">
          <option selected="selected" value="0">
            00
          </option>
          <option value="1">
            01
          </option>
          <option value="2">
            02
          </option>
          <option value="3">
            03
          </option>
          <option value="4">
            04
          </option>
          <option value="5">
            05
          </option>
          <option value="6">
            06
          </option>
          <option value="7">
            07
          </option>
          <option value="8">
            08
          </option>
          <option value="9">
            09
          </option>
          <option value="10">
            10
          </option>
          <option value="11">
            11
          </option>
          <option value="12">
            12
          </option>
          <option value="13">
            13
          </option>
          <option value="14">
            14
          </option>
          <option value="15">
            15
          </option>
          <option value="16">
            16
          </option>
          <option value="17">
            17
          </option>
          <option value="18">
            18
          </option>
          <option value="19">
            19
          </option>
          <option value="20">
            20
          </option>
          <option value="21">
            21
          </option>
          <option value="22">
            22
          </option>
          <option value="23">
            23
          </option>
          <option value="24">
            24
          </option>
          <option value="25">
            25
          </option>
          <option value="26">
            26
          </option>
          <option value="27">
            27
          </option>
          <option value="28">
            28
          </option>
          <option value="29">
            29
          </option>
          <option value="30">
            30
          </option>
          <option value="31">
            31
          </option>
          <option value="32">
            32
          </option>
          <option value="33">
            33
          </option>
          <option value="34">
            34
          </option>
          <option value="35">
            35
          </option>
          <option value="36">
            36
          </option>
          <option value="37">
            37
          </option>
          <option value="38">
            38
          </option>
          <option value="39">
            39
          </option>
          <option value="40">
            40
          </option>
          <option value="41">
            41
          </option>
          <option value="42">
            42
          </option>
          <option value="43">
            43
          </option>
          <option value="44">
            44
          </option>
          <option value="45">
            45
          </option>
          <option value="46">
            46
          </option>
          <option value="47">
            47
          </option>
          <option value="48">
            48
          </option>
          <option value="49">
            49
          </option>
          <option value="50">
            50
          </option>
          <option value="51">
            51
          </option>
          <option value="52">
            52
          </option>
          <option value="53">
            53
          </option>
          <option value="54">
            54
          </option>
          <option value="55">
            55
          </option>
          <option value="56">
            56
          </option>
          <option value="57">
            57
          </option>
          <option value="58">
            58
          </option>
          <option value="59">
            59
          </option>
        </select>
      </div>
    </div>
    <div class="drp-buttons">
      <span class="drp-selected">2019/05/13 04:00 PM - 2019/05/15 12:00 AM</span><button class="cancelBtn btn btn-sm btn-danger" type="button">取消</button><button class="applyBtn btn btn-sm btn-primary" type="button">提交</button>
    </div>
  </div>-->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<div class="box-4">
        <div class="text">
			測試<br>
			hello world<br>
			!!!!!!!!!!!!!!!!!!<br>
			測試<br>
			測試<br>
			測試<br>
			yooooooo<br>
        </div>
    </div>
	<br>
	<div class="box-4">
		<div  class="text">
			測試222<br>
			hello world 2222<br>
			!!!!!!!!!!!!!!!!!!<br>
			測試222<br>
			測試222<br>
			測試<br>
			yooooooo<br>
		</div>
	</div>
	<br>
	<div class="box-4">
        <div class="text">
			<img width="100px" src="../static/images/404.png">
        </div>
    </div>
	<br>
	<div class="box-4">
		<div class="text">
			日期時間格式<br>
			<input type="date" />
			<input type="time" value="11:22:33"/>
		</div>
	</div>
	<br>
	
	
	
	
	
	
	
	
	
	
	
	
	
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<span class="glyphicon glyphicon-align-justify"></span>表格一
				</div>
				<div class="card-body">
					<table class="table table-hover table-responsive-sm">
						<thead>
							<tr>
								<th scope="col" class="center">操作</th>
								<th scope="col">RichMenuId</th>
								<th scope="col">圖片</th>
								<th scope="col" class="center">是否啟用</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">
									<button type="button" class="btn btn-primary">修改</button>
									<button type="button" class="btn btn-warning">刪除</button>
								</th>
								<td>richmenu-0abe5a58d7d44d787b2a3cdb39fd7ea9</td>
								<td>img1</td>
								<td class="box-5">是</td>
							</tr>
							<tr>
								<th scope="row">
									<button type="button" class="btn btn-primary">修改</button>
									<button type="button" class="btn btn-warning">刪除</button>
								</th>
								<td>richmenu-0abe5a58d7d44d787b2a3cdb39fd7ea9</td>
								<td>img2</td>
								<td class="center">否</td>
							</tr>
							<tr>
								<th scope="row">
									<button type="button" class="btn btn-primary">修改</button>
									<button type="button" class="btn btn-warning">刪除</button>
								</th>
								<td>richmenu-0abe5a58d7d44d787b2a3cdb39fd7ea9</td>
								<td>img3</td>
								<td class="center">是</td>
							</tr>
						</tbody>
					</table>
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-center">
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
								</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">4</a></li>
							<li class="page-item"><a class="page-link" href="#">5</a></li>
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<span class="glyphicon glyphicon-align-justify"></span>表格二
				</div>
				<div class="card-body">
					<table class="table table-hover table-responsive-sm">
						<thead>
							<tr>
								<th scope="col" class="center">操作</th>
								<th scope="col">RichMenuId</th>
								<th scope="col">圖片</th>
								<th scope="col" class="center">是否啟用</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">
									<button type="button" class="btn btn-primary">修改</button>
									<button type="button" class="btn btn-warning">刪除</button>
								</th>
								<td>richmenu-0abe5a58d7d44d787b2a3cdb39fd7ea9</td>
								<td>img1</td>
								<td class="center">是</td>
							</tr>
							<tr>
								<th scope="row">
									<button type="button" class="btn btn-primary">修改</button>
									<button type="button" class="btn btn-warning">刪除</button>
								</th>
								<td>richmenu-0abe5a58d7d44d787b2a3cdb39fd7ea9</td>
								<td>img2</td>
								<td class="center">否</td>
							</tr>
							<tr>
								<th scope="row">
									<button type="button" class="btn btn-primary">修改</button>
									<button type="button" class="btn btn-warning">刪除</button>
								</th>
								<td>richmenu-0abe5a58d7d44d787b2a3cdb39fd7ea9</td>
								<td>img3</td>
								<td class="center">是</td>
							</tr>
						</tbody>
					</table>
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-center">
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
								</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">4</a></li>
							<li class="page-item"><a class="page-link" href="#">5</a></li>
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<span class="glyphicon glyphicon-align-justify"></span>表格三
				</div>
				<div class="card-body">
					<table class="table table-hover table-responsive-sm">
						<thead>
							<tr>
								<th scope="col" class="center">操作</th>
								<th scope="col">RichMenuId</th>
								<th scope="col">圖片</th>
								<th scope="col" class="center">是否啟用</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">
									<button type="button" class="btn btn-primary">修改</button>
									<button type="button" class="btn btn-warning">刪除</button>
								</th>
								<td>richmenu-0abe5a58d7d44d787b2a3cdb39fd7ea9</td>
								<td>img1</td>
								<td class="center">是</td>
							</tr>
							<tr>
								<th scope="row">
									<button type="button" class="btn btn-primary">修改</button>
									<button type="button" class="btn btn-warning">刪除</button>
								</th>
								<td>richmenu-0abe5a58d7d44d787b2a3cdb39fd7ea9</td>
								<td>img2</td>
								<td class="center">否</td>
							</tr>
							<tr>
								<th scope="row">
									<button type="button" class="btn btn-primary">修改</button>
									<button type="button" class="btn btn-warning">刪除</button>
								</th>
								<td>richmenu-0abe5a58d7d44d787b2a3cdb39fd7ea9</td>
								<td>img3</td>
								<td class="center">是</td>
							</tr>
						</tbody>
					</table>
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-center">
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
								</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">4</a></li>
							<li class="page-item"><a class="page-link" href="#">5</a></li>
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<span class="glyphicon glyphicon-align-justify"></span>表格四
				</div>
				<div class="card-body">
					<table class="table table-hover table-responsive-sm">
						<thead>
							<tr>
								<th scope="col" class="center">操作</th>
								<th scope="col">RichMenuId</th>
								<th scope="col">圖片</th>
								<th scope="col" class="center">是否啟用</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">
									<button type="button" class="btn btn-primary">修改</button>
									<button type="button" class="btn btn-warning">刪除</button>
								</th>
								<td>richmenu-0abe5a58d7d44d787b2a3cdb39fd7ea9</td>
								<td>img1</td>
								<td class="center">是</td>
							</tr>
							<tr>
								<th scope="row">
									<button type="button" class="btn btn-primary">修改</button>
									<button type="button" class="btn btn-warning">刪除</button>
								</th>
								<td>richmenu-0abe5a58d7d44d787b2a3cdb39fd7ea9</td>
								<td>img2</td>
								<td class="center">否</td>
							</tr>
							<tr>
								<th scope="row">
									<button type="button" class="btn btn-primary">修改</button>
									<button type="button" class="btn btn-warning">刪除</button>
								</th>
								<td>richmenu-0abe5a58d7d44d787b2a3cdb39fd7ea9</td>
								<td>img3</td>
								<td class="center">是</td>
							</tr>
						</tbody>
					</table>
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-center">
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
								</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">4</a></li>
							<li class="page-item"><a class="page-link" href="#">5</a></li>
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>