<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head> <meta charset="UTF-8" > </head>

<body layout:fragment="content">
  <script type="text/javascript">
  	delete_location = function(id){
      $.ajax({
        type: 'DELETE',
        url: `/location/delete/${id}`,
        dataType: 'json',
        success: (result) =>{
          
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          
        }
      });
  	}
  </script>
  <div class="row">
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<span class="glyphicon glyphicon-align-justify"></span>據點列表
				</div>
				<div class="card-body">
                  <a class="btn btn-primary" th:href="@{/location/add}">新增</a>
                  <table class="table table-hover table-responsive-sm">
                    <thead class="center">
                      <tr>
                        <th scope="col">操作</th>
                        <th scope="col">名稱</th>
                        <th scope="col">地址</th>
                        <th scope="col">管理員</th>
                      </tr>
                    </thead>
                    <tbody class="center">
                      <tr th:if="${locations.empty}">
                        <th colspan="4">沒有資料</th>
                      </tr>
                      <tr th:unless="${locations.empty}" th:each="location:${locations}" th:object="${location}">
                        <th>
                          <a class="btn btn-primary" th:href="@{/location/edit/__*{id}__}">修改</a>
                          <a class="btn btn-danger" href="javascript:;" th:onclick="|delete_location(*{id})|">刪除</a>
                        </th>
                        <td>
                          <span th:text="*{name}"></span>
                        </td>
                        <td>
                          <span th:text="*{address}"></span>
                        </td>
                        <td>
                          <span th:text="*{keeper}"></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div th:if="${locations.totalPages ne 1}" >
                    <div th:replace="~{comm/page :: page01(entity=${locations})}"></div>
                  </div>
                </div>
            </div>
        </div>
     </div>
  </div>
</body>
</html>