<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head> <meta charset="UTF-8" > </head>

<body layout:fragment="content">
  <script type="text/javascript">
  	$(function(){
  	  $('select').select2({
  	    placeholder: 'Select an option'
  	  });
  	});
  </script>

  <form th:action="@{/location/save}" method="post">
  
    <div class="row"  th:object="${location}">
      <div style="width:1000px;" ><!-- class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" -->
        <div class="col">
          <div class="card">
            <div class="card-header">
            <span class="glyphicon glyphicon-align-justify"></span>
              <span th:if="${funcType eq 'edit'}">據點修改</span>
              <span th:if="${funcType eq 'view'}">據點檢視
              	<a class="btn btn-success a-btn-second btn-sm" th:href="@{/location/edit/{id}(id=*{id})}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改 </a>
              </span>
            </div>
            <div class="card-body" style="padding-right: 2rem;">
            <div class="row">
            
              <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-6" style="display: none;">
                <label class="font-weight-bold">編號</label><br>
                <input th:if="${funcType eq 'view'}" class="form-control" id="userId" name="id" th:value="*{id}" disabled/>
                <input th:if="${funcType eq 'edit'}" class="form-control" id="userId" name="id" th:value="*{id}" />
              </div>
              
              <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-6">
                <label class="font-weight-bold">別名</label><br>
                <input th:if="${funcType eq 'view'}" class="form-control" id="name" name="name" th:value="*{name}" disabled/>
                <input th:if="${funcType eq 'edit'}" class="form-control" id="name" name="name" th:value="*{name}"/>
              </div>
              
              <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-6">
                <label class="font-weight-bold">地址</label><br>
                <input th:if="${funcType eq 'view'}" class="form-control" id="address" name="address" th:value="*{address}" disabled/>
                <input th:if="${funcType eq 'edit'}" class="form-control" id="address" name="address" th:value="*{address}"/>
              </div>
              
              <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-6">
                <label class="font-weight-bold">電話</label><br>
                <input th:if="${funcType eq 'view'}" class="form-control" id="phone" name="phone" th:value="*{phone}" disabled/>
                <input th:if="${funcType eq 'edit'}" class="form-control" id="phone" name="phone" th:value="*{phone}"/>
              </div>

              <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-6">
                <label class="font-weight-bold">WIFI名稱</label><br>
                <input th:if="${funcType eq 'view'}" class="form-control" id="wifiSsid" name="wifiSsid" th:value="*{wifiSsid}" disabled/>
                <input th:if="${funcType eq 'edit'}" class="form-control" id="wifiSsid" name="wifiSsid" th:value="*{wifiSsid}"/>
              </div>
              <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-6">
                <label class="font-weight-bold">WIFI密碼</label><br>
                <input th:if="${funcType eq 'view'}" class="form-control" id="wifiPasswd" name="wifiPasswd" th:value="*{wifiPasswd}" disabled/>
                <input th:if="${funcType eq 'edit'}" class="form-control" id="wifiPasswd" name="wifiPasswd" th:value="*{wifiPasswd}"/>
              </div> 

              <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-6">
                <label class="font-weight-bold">Beacon值</label><br>
                <input th:if="${funcType eq 'view'}" class="form-control" id="beaconKey" name="beaconKey" th:value="*{beaconKey}" disabled/>
                <input th:if="${funcType eq 'edit'}" class="form-control" id="beaconKey" name="beaconKey" th:value="*{beaconKey}"/>
              </div> 
                    
              <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-6">
                <label class="font-weight-bold">負責人</label><br>
                <div th:if="${funcType eq 'edit'}">
	              <select multiple name="keepers" class="js-example-basic-multiple js-states form-control" >
	            	<option th:each="emp:${mappingEmp}" th:value="${emp.value.id}" th:text="${emp.value.name}" th:selected="${#lists.contains(location.employeeIds, emp.value.id)}" ></option>
	              </select>
                </div>
                <div th:if="${funcType eq 'view'}">
	              <select multiple name="keepers" class="form-control" size="5" disabled>
	            	<option th:each="emp:${mappingEmp}" th:value="${emp.value.id}" th:text="${emp.value.name}" th:selected="${#lists.contains(location.employeeIds, emp.value.id)}" ></option>
	              </select>
                </div>
              </div>

            </div>
            
            <div class="row badge-margin justify-content-center hide-in-phone">
              <div class="badge badge-info text-wrap col-11 col-sm-11 col-md-11 col-lg-11 col-xl-4">
                <span th:text="|建立時間：  *{#temporals.format(createDate, 'yyyy/MM/dd HH:mm:ss')}|"></span>
              </div>&emsp;
              <div class="badge badge-info text-wrap col-11 col-sm-11 col-md-11 col-lg-11 col-xl-4">
                <span th:text="|修改時間：  *{#temporals.format(modifyDate, 'yyyy/MM/dd HH:mm:ss')}|"></span>
              </div>
            </div>
            
            <div class="row badge-margin justify-content-center show-on-phone">
              <div class="badge badge-info text-wrap col-11 col-sm-11 col-md-11 col-lg-11 col-xl-4">
                <span th:text="|建立時間：  *{#temporals.format(createDate, 'yyyy/MM/dd HH:mm:ss')}|"></span>
              </div>&emsp;
              <div class="badge badge-info text-wrap col-11 col-sm-11 col-md-11 col-lg-11 col-xl-4">
                <span th:text="|修改時間：  *{#temporals.format(modifyDate, 'yyyy/MM/dd HH:mm:ss')}|"></span>
              </div>
            </div>
            
            <div th:if="${funcType eq 'edit'}" class="line"><div ></div></div>
            <div class="row justify-content-center">
              <a th:if="${funcType} == edit">
                <button type="submit" class="btn btn-primary btn-sm">
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>送出
                </button>
              </a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
</body>
</html>