<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head> <meta charset="UTF-8" > </head>

<body layout:fragment="content">
  <form th:action="@{/location/save}" method="post">
  
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <span class="glyphicon glyphicon-align-justify"></span>據點修改
            </div>
            <div class="card-body">
    
              <table th:object="${location}">
                <tbody>
                  <tr th:if="*{id}">
                    <th>編號</th>
                    <td>
                      <input type="hidden" th:if="${funcType eq 'edit'}" name="id" th:value="*{id}" />
                      <span th:text="*{id}"></span>
                    </td>
                  </tr>
                  <tr>
                    <th>別名</th>
                    <td th:if="${funcType eq 'view'}"><span th:text="*{name}"></span></td>
                    <td th:if="${funcType eq 'edit'}"><input type="text" name="name" th:value="*{name}" /></td>
                  </tr>
                  <tr>
                    <th>地址</th>
                    <td th:if="${funcType eq 'view'}"><span th:text="*{address}"></span></td>
                    <td th:if="${funcType eq 'edit'}"><input type="text" name="address" th:value="*{address}" /></td>
                  </tr>
                  <tr>
                    <th>電話</th>
                    <td th:if="${funcType eq 'view'}"><span th:text="*{phone}"></span></td>
                    <td th:if="${funcType eq 'edit'}"><input type="text" name="phone" th:value="*{phone}" /></td>
                  </tr>
                  
                  <tr>
                    <th>WiFi名稱</th>
                    <td th:if="${funcType eq 'view'}"><span th:text="*{wifiSsid}"></span></td>
                    <td th:if="${funcType eq 'edit'}"><input type="text" name="wifiSsid" th:value="*{wifiSsid}" /></td>
                  </tr>
                  
                  <tr>
                    <th>WiFi密碼</th>
                    <td th:if="${funcType eq 'view'}"><span th:text="*{wifiPasswd}"></span></td>
                    <td th:if="${funcType eq 'edit'}"><input type="text" name="wifiPasswd" th:value="*{wifiPasswd}" /></td>
                  </tr>
                  
                  <tr>
                    <th>Beacon值</th>
                    <td th:if="${funcType eq 'view'}"><span th:text="*{beaconKey}"></span></td>
                    <td th:if="${funcType eq 'edit'}"><input type="text" name="beaconKey" th:value="*{beaconKey}" /></td>
                  </tr>
                  <tr>
                    <th>負責人</th>
                    <td th:if="${funcType eq 'view'}">
<!--                       <span th:text="${mappingEmp}"></span> -->
                      <span th:each="obj:*{mappingEL}" th:object="${obj}">
                        <span th:text="|${mappingEmp.get(__*{employeeId}__).name}|"></span>,
                      </span>
                    </td>
                    <td th:if="${funcType eq 'edit'}">
                      <select multiple name="keepers">
                        <option th:each="emp:${mappingEmp}" th:value="${emp.value.id}" th:text="${emp.value.name}" th:selected="${#lists.contains(location.employeeIds, emp.value.id)}" ></option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <th>建立時間</th>
                    <td><span th:text="*{createDate}"></span></td>
                  </tr>
                  <tr>
                    <th>最後修改時間</th>
                    <td><span th:text="*{modifyDate}"></span></td>
                  </tr>
                </tbody>
                <tfoot th:if="${funcType eq 'edit'}">
                  <tr>
                    <td colspan="2">
                      <input type="submit" />
                    </td>
                  </tr>  
                </tfoot>
              </table>
  
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
</body>
</html>