<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head> <meta charset="UTF-8" > </head>

<body layout:fragment="content">
  <script>
  	delete_employee = function(id,name){

	  showConfirmDialog('確認刪除','確定要刪除 ' + name + ' 員工嗎?',function(){
      $.ajax({
        type: 'DELETE',
        url: `/employee/delete/${id}`,
        dataType: 'json',
        success: (result) =>{
          location.reload();
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          
        }
      });
	  });
	}
  </script>
  <div class="row"> <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8"> <div class="card">
    <div class="card-header" >
      <div class="card-header-left"> <span class="glyphicon glyphicon-align-justify"></span>員工管理 - 列表 </div>
      <div class="card-header-right">
        <a th:href="@{/employee/add}" class="btn btn-primary btn-sm">
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>新增
        </a>
      </div>
    </div>
    <div class="card-body" >
      <table class="table table-hover table-responsive-sm hide-in-phone">
        <thead class="center">
          <tr>
            <th scope="col">操作</th>
            <th scope="col">姓名</th>
            <th scope="col">職位</th>
            <th scope="col">在職狀態</th>
          </tr>
        </thead>
        <tbody class="center">
          <tr th:each="emp:${employees}" th:object="${emp}">
            <td>
              <a class="btn btn-sm btn-secondary" th:href="@{/employee/view/__*{id}__}" >
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>檢視
              </a>
              <a class="btn btn-success btn-sm" th:href="@{/employee/edit/{empId}(empId=*{id})}" >
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改
              </a>
              <a class="btn btn-danger btn-sm" th:onclick="|delete_employee(__*{id}__,'__*{name}__')|" href="javascript:;" >
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>刪除
              </a>
            </td>
            <td>
              <span th:text="*{name}" ></span>
            </td>
            <td>
              <span th:if="!${#strings.isEmpty(emp.positionId)}" th:text="${mPosition[emp.positionId].name}" ></span>
            </td>
            <td>
              <span th:text="*{positionStatusTw}" ></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div></div></div>
</body>
</html>