<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head> <meta charset="UTF-8" > </head>

<body layout:fragment="content">
  <div class="row"> <div class="col-12 col-sm-11 col-md-11 col-lg-11 col-xl-6"> <div class="card">
    <div class="card-header" toggleId="l-line-user-toggle">
      <span class="glyphicon glyphicon-align-justify"></span>Employee - 列表
      <a th:href="@{/employee/add}" class="btn btn-primary a-btn-second btn-sm">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>新增
      </a>
    </div>
    <div class="card-body" toggleId="l-line-user-toggle">
      <table class="table table-hover table-responsive-sm hide-in-phone">
        <thead class="center">
          <tr>
            <th scope="col">操作</th>
            <th scope="col">姓名</th>
            <th scope="col">職位</th>
            <th scope="col">在職狀態</th>
          </tr>
        </thead>
        <tbody class="center">
          <tr th:each="emp:${employees}" th:object="${emp}">
            <td>
              <a class="btn btn-sm btn-secondary" th:href="@{/employee/view/__*{id}__}" >
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>檢視
              </a>
              <a class="btn btn-success btn-sm" th:href="@{/employee/edit/{empId}(empId=*{id})}" >
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改
              </a>
              <a class="btn btn-danger btn-sm" th:id="|delete_employee_*{id}|" th:employeeId="*{id}" href="javascript:;" >
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>刪除
              </a>
            </td>
            <td>
              <span th:text="${emp.name}" ></span>
            </td>
            <td>
              <span th:text="${emp.positionId}" ></span>
            </td>
            <td>
              <span th:text="${emp.positionStatusTw}" ></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div></div></div>
</body>
</html>