<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head> <meta charset="UTF-8" > </head>

<body layout:fragment="content">
<!--   <span th:text="${employee}"></span> -->
  
  <form method="POST" th:action="@{/employee/changePassword}">
    <div class="row"> <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
      <div class="card">
        <div class="card-header" toggleId="u_change_password">
          <span class="glyphicon glyphicon-align-justify"></span>修改密碼
        </div>
        <div class="card-body" toggleId="u_change_password">
          <div th:if="|${info_status ne null}|" class="alert alert-success" role="alert" th:text="${info_status}"></div>
          <div th:if="|${error_status ne null}|" class="alert alert-danger" role="alert" th:text="${error_status}"></div>
          <div class="row">
            <div class="col-11">
              <label class="font-weight-bold">原密碼</label><br>
              <input type="password" class="form-control" name="oriPassword" />
            </div>
          </div>
          <div class="row">
            <div class="col-11">
              <label class="font-weight-bold">新密碼</label><br>
              <input type="password" class="form-control" name="newPassword1" />
            </div>
          </div>
          <div class="row">
            <div class="col-11">
              <label class="font-weight-bold">新密碼確認</label><br>
              <input type="password" class="form-control" name="newPassword2" />
            </div>
          </div>
          <div class="line"></div>
          <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary btn-sm">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>送出
            </button>
          </div>
        </div>
    </div></div></div>  
  </form>
  
</body>
</html>