<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head> <meta charset="UTF-8" > </head>

<body layout:fragment="content">
  <script th:inline="javascript">

	var reset_password = function(id,account){
      $.ajax({
        type: 'POST',
        url: `/employee/resetPassword`,
        data: {id:id,account:account},
        dataType: 'json',
        success: (result) => {
          console.log(result);
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
        
        }
      });
	}
	
	var submin_form = function(){
// 	    $("#employee_form").form_verification()
	  
      var data = $("#employee_form").toJson();
      console.log(data);
      $.ajax({
        method: 'post',
        url: '/employee/save',
        data: data,
        dataType: 'json',
        success: function(result){
          if(result.status === 'success'){
            window.location.replace("/employee/view/" + result.data.id);
          }else{
            console.log(result);
          }
        },
        error: function(error){
          console.log(a,b,c)
        }
      });
    }
	
	var reload_position = function(){
	  var positionId = $("select[name='positionId']").find(":selected").val();
	  $.post("/position/getPositionById",{positionId:positionId},function(data){
	    var mappings = data.mappings;
	    $.each(mappings , function(index,mapping){
	      $("label[key='" + mapping.permissionId + ":" + mapping.permissionDetailType + "']").css({"font-weight":"600"})
	    });
	  });
	}
  
  	$(function(){
  	  
  	});
  </script>
  <div class="row"> <div class="col-12"> <div class="card">
  
    <div th:if="${funcType eq 'add'}" class="card-header" toggleId="u_employee">
      <span class="glyphicon glyphicon-align-justify"></span>員工管理 - 新增
    </div>
    <div th:if="${funcType eq 'edit'}" class="card-header" toggleId="u_employee">
      <span class="glyphicon glyphicon-align-justify"></span>員工管理 - 修改
    </div>
    <div th:if="${funcType eq 'view'}" class="card-header" toggleId="u_employee">
      <span class="glyphicon glyphicon-align-justify"></span>員工管理 - 檢視
      <a class="btn btn-success a-btn-second btn-sm" th:href="@{/employee/edit/{id}(id=${employee.id})}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改 </a>
    </div>
    
    <div class="card-body" toggleId="u_employee">
      <form id="employee_form" >
        <div class="row col-12" th:object="${employee}">
        
          <div style="display: none;">
            <label class="font-weight-bold">ID</label>
            <input th:if="${funcType eq 'edit'}" type="text" class="form-control" name="id" th:value="*{id}" />
            <input th:if="${funcType eq 'edit'}" type="text" class="form-control" name="password" th:value="*{password}" />
          </div>
          
          <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-10">
            <label class="font-weight-bold">登入帳號</label>
            <input th:if="${funcType eq 'add'}" type="text" class="form-control" name="account" FDC-Verification="NotNull," />
            <input th:if="${funcType eq 'edit'}" type="button" class="btn btn-sm btn-outline-danger" th:onclick="|reset_password(__*{id}__,'__*{account}__')|" value="重置密碼" />
            <input th:if="${funcType eq 'edit' || funcType eq 'view'}" th:disabled="${funcType eq 'view'}" type="text" class="form-control" name="account" th:value="*{account}" />
          </div>
          
          <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-5">
            <label class="font-weight-bold">姓</label>
            <input th:if="${funcType eq 'add'}" type="text" class="form-control" name="firstName" FDC-Verification="" />
            <input th:if="${funcType eq 'edit' || funcType eq 'view'}" th:disabled="${funcType eq 'view'}" type="text" class="form-control" name="firstName" th:value="*{firstName}" fdc-not-null="true" />
          </div>
          
          <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-5">
            <label class="font-weight-bold">名</label>
            <input th:if="${funcType eq 'edit' || funcType eq 'view'}" th:disabled="${funcType eq 'view'}" type="text" class="form-control" name="lastName" th:value="*{lastName}" />
            <input th:if="${funcType eq 'add'}" type="text" class="form-control" name="lastName" />
          </div>
          
          <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-5">
            <label class="font-weight-bold">職稱</label>
            <input th:if="${funcType eq 'edit'}" type="button" class="btn btn-sm btn-outline-danger" th:onclick="|reload_position()|" value="重置權限" />
            <div>
              <select th:if="${funcType eq 'edit' || funcType eq 'view'}" th:disabled="${funcType eq 'view'}" class="form-control" name="positionId">
                <option value="">請選擇職稱</option>
                <option th:each="pos:${positions}" th:value="${pos.id}" th:text="${pos.name}" th:selected="|${pos.id} == *{positionId}|"></option>
              </select>
              <select th:if="${funcType eq 'add'}" class="form-control" name="positionId">
                <option value="">請選擇職稱</option>
                <option th:each="pos:${positions}" th:value="${pos.id}" th:text="${pos.name}" th:selected="${pos.isDefault}" ></option>
              </select>
            </div>
          </div>
          
          <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-5">
            <label class="font-weight-bold">在職狀態</label>
            <select th:if="${funcType eq 'edit' || funcType eq 'view'}" th:disabled="${funcType eq 'view'}" class="form-control" name="positionStatus">
              <option value="0" th:selected="*{positionStatus} == 0">在職</option>
              <option value="1" th:selected="*{positionStatus} == 1">離職</option>
              <option value="2" th:selected="*{positionStatus} == 2">留停</option>
            </select>
            <select th:if="${funcType eq 'add'}" class="form-control" name="positionStatus">
              <option value="0" selected>在職</option>
              <option value="1" >離職</option>
              <option value="2" >留停</option>
            </select>
          </div>
          
          <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-5">
            <label class="font-weight-bold">是否啟用</label>
            <div th:if="${funcType eq 'edit' || funcType eq 'view'}">
              <label><input type="radio" name="isUse" value="true" th:disabled="${funcType eq 'view'}" th:checked="*{isUse}">是</label>
              <label><input type="radio" name="isUse" value="false" th:disabled="${funcType eq 'view'}" th:checked="!*{isUse}">否</label>
            </div>
            <div th:if="${funcType eq 'add' }">
              <label><input type="radio" name="isUse" value="true" checked >是</label>
              <label><input type="radio" name="isUse" value="false" >否</label>
            </div>
          </div>
          
          <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">
            <table class="table table-responsive-sm">
              <thead>
                <tr class="center">
                  <th>選單名稱</th>
                  <th>權限分置</th>
                </tr>
              </thead>
              <tr th:each="permission,iter1:${permissions}" th:object="${permission}">
                <th nowrap class="center" th:text="*{menu.name}"></th>
                <td>
                  <label th:if="${ funcType eq 'edit' || funcType eq 'view' }" th:each="detail,iter2:*{details}" th:object="${detail}" th:key="${permission.id+':'+detail.type}" >
                    <input type="checkbox" th:value="|${permission.id}:*{type}|" name="permissionDetailType" th:disabled="${funcType eq 'view'}"  
                      th:checked="${#lists.contains(mappingPermissions,permission.id+':'+detail.type)}"/>
                      <span  th:style="*{isSuperAdmin}?'color: red;':''" >[[*{name}]]</span>
                  </label>
                  <label th:if="${ funcType eq 'add' }" th:each="detail,iter2:*{details}" th:object="${detail}" th:key="${permission.id+':'+detail.type}" >
                    <input type="checkbox" th:value="|${permission.id}:*{type}|" name="permissionDetailType" />[[*{name}]]
                  </label>
                </td>
              </tr>
            </table>
          </div>
            
        </div>
      </form>
      <div th:if="${funcType eq 'edit' || funcType eq 'view'}" class="row col justify-content-center">
        <div class="badge badge-info text-wrap col-11 col-sm-11 col-md-11 col-lg-11 col-xl-5">
          <span th:text="|建立時間：  ${#temporals.format(employee.createDate, 'yyyy/MM/dd HH:mm:ss')}|"></span>
        </div>&emsp;
        <div class="badge badge-info text-wrap col-11 col-sm-11 col-md-11 col-lg-11 col-xl-5">
          <span th:text="|修改時間：  ${#temporals.format(employee.modifyDate, 'yyyy/MM/dd HH:mm:ss')}|"></span>
        </div>
      </div>
      <div th:if="${funcType eq 'edit' || funcType eq 'add'}"><div class="line"></div></div>
      <div th:if="${funcType eq 'edit' || funcType eq 'add'}" class="row col justify-content-center">
        <button type="button" onclick="submin_form()" class="btn btn-primary btn-sm">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>送出
        </button>
      </div>
      
    </div>
  </div> </div> </div>
</body>
</html>