<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head> <meta charset="UTF-8" > </head>

<body layout:fragment="content">
  <script th:inline="javascript">
  	$(function(){
  	  $("#reset_position").click(function(){
        var positionId = $("select[name='positionId']").find(":selected").val();
        $.post("/position/getPositionById",{positionId:positionId},function(data){
          var mappings = data.mappings;
          $.each(mappings , function(index,mapping){
            $("label[key='" + mapping.permissionId + ":" + mapping.permissionDetailType + "']").css({"font-weight":"600"})
          });
        });
      });
  	  $("#reset_position").dblclick(function(){
        var positionId = $("select[name='positionId']").find(":selected").val();
        $.post("/position/getPositionById",{positionId:positionId},function(data){
          var mappings = data.mappings;
          $.each(mappings , function(index,mapping){
            var checkbox_vaule = mapping.permissionId + ":" + mapping.permissionDetailType;
            $("input[type='checkbox'][name='permissionDetailType'][value='" + checkbox_vaule +"']").prop("checked",true);
          });
        });
      });
  	});

	var reset_password = function(id,account){
	  showConfirmDialog('確認刪除','確定要重置 ' + account + ' 的密碼嗎？<BR>重置後帳號與密碼相同。',function(){
        $.ajax({
          type: 'POST',
          url: `/employee/resetPassword`,
          data: {id:id,account:account},
          dataType: 'json',
          success: (result) => {
            if(result.status == 'success'){
              alert("重設成功，重設後密碼與帳號相同。");
              window.location.reload();
            }
          }
        });
	  });
	}
	
	var submin_form = function(){
	  if($("#employee_form").form_verification()){
	    return;
	  }
	  
      var data = $("#employee_form").toJson();
      console.log(data);
      $.ajax({
        method: 'post',
        url: '/employee/save',
        data: data,
        dataType: 'json',
        success: function(result){
          console.log(result)
          if(result.status === 'success'){
            window.location.replace("/employee/view/" + result.data.id);
          }else{
            alert(result.msg);
          }
        }
      });
    }
	
	var change_position = function(){
      var positionId = $("select[name='positionId']").find(":selected").val();

      if(positionId){
        $.ajax({
          method: 'post',
          url: '/employee/getMappingPPPWithPositionId',
          data: { positionId : positionId },
          dataType: 'json',
          success: function(result){console.log(result)
            if(result.status === 'success'){
              $.each(result.data,function(index,data){
                var checkbox_vaule = data.permissionId + ":" + data.permissionDetailType;
                $("input[type='checkbox'][name='permissionDetailType'][value='" + checkbox_vaule +"']").prop("checked",true);
              });
            }
          }
        });
      }
	}
  
  	$(function(){
  	  // 首次觸發
  	  // change_position();
  	});
  </script>
  <div class="row"> <div class="col-12"> <div class="card">
  
    <div class="card-header">
      <div th:if="${funcType eq 'add'}" class="card-header-left"><span class="glyphicon glyphicon-align-justify"></span>員工管理 - 新增</div>
      <div th:if="${funcType eq 'edit'}" class="card-header-left"><span class="glyphicon glyphicon-align-justify"></span>員工管理 - 修改</div>
      <div th:if="${funcType eq 'view'}" class="card-header-left"><span class="glyphicon glyphicon-align-justify"></span>員工管理 - 檢視</div>
      <div class="card-header-right">
        <a th:if="${funcType eq 'view'}" class="btn btn-success a-btn-second btn-sm" th:href="@{/employee/edit/{id}(id=${employee.id})}">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改
        </a>
        <a class="btn btn-info a-btn-second btn-sm" href="/employee/list">
          <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>返回列表
        </a>
      </div>
    </div>
    
    <div class="card-body">
      <form id="employee_form" >
        <input type="hidden" name="funcType" th:value="${funcType}" />
        <div class="row col-12" th:object="${employee}">
        
          <div style="display: none;">
            <label class="font-weight-bold">ID</label>
            <input th:if="${funcType eq 'edit'}" type="text" class="form-control" name="id" th:value="*{id}" />
            <input th:if="${funcType eq 'edit'}" type="text" class="form-control" name="password" th:value="*{password}" />
          </div>
          
          <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-10">
            <label class="font-weight-bold"><span class="req-field">*</span>登入帳號</label>
            <input th:if="${funcType eq 'add'}" type="text" class="form-control" name="account" FDCV="not-blank" />
            <input th:if="${funcType eq 'edit'}" type="button" class="btn btn-sm btn-outline-danger" th:onclick="|reset_password(__*{id}__,'__*{account}__')|" value="重置密碼" />
            <input th:if="${funcType eq 'edit' || funcType eq 'view'}" readonly type="text" class="form-control" name="account" th:value="*{account}" FDCV="not-blank" />
          </div>
          
          <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-5">
            <label class="font-weight-bold"><span class="req-field">*</span>姓</label>
            <input th:if="${funcType eq 'add'}" type="text" class="form-control" name="firstName" FDCV="not-blank" />
            <input th:if="${funcType eq 'edit' || funcType eq 'view'}" th:disabled="${funcType eq 'view'}" type="text" class="form-control" name="firstName" th:value="*{firstName}" FDCV="not-blank" />
          </div>
          
          <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-5">
            <label class="font-weight-bold"><span class="req-field">*</span>名</label>
            <input th:if="${funcType eq 'add'}" type="text" class="form-control" name="lastName" FDCV="not-blank" />
            <input th:if="${funcType eq 'edit' || funcType eq 'view'}" th:disabled="${funcType eq 'view'}" type="text" class="form-control" name="lastName" th:value="*{lastName}" FDCV="not-blank" />
          </div>
          
          <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-5">
            <label class="font-weight-bold"><span class="req-field">*</span>職稱</label>
            <input th:if="${funcType eq 'edit'}" type="button" class="btn btn-sm btn-outline-danger" id="reset_position" th:dbclick value="重置權限" />
            <div>
              <select th:if="${funcType eq 'add'}" class="form-control" name="positionId" onchange="change_position()" FDCV="not-blank">
                <option value="">請選擇職稱</option>
                <option th:each="pos:${positions}" th:value="${pos.id}" th:text="${pos.name}" th:selected="${pos.isDefault}" ></option>
              </select>
              <select th:if="${funcType eq 'edit' || funcType eq 'view'}" th:disabled="${funcType eq 'view'}" class="form-control" name="positionId" FDCV="not-blank">
                <option value="">請選擇職稱</option>
                <option th:each="pos:${positions}" th:value="${pos.id}" th:text="${pos.name}" th:selected="${pos.id} == *{positionId}"></option>
              </select>
            </div>
          </div>
          
          <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-5">
            <label class="font-weight-bold"><span class="req-field">*</span>在職狀態</label>
            <select th:if="${funcType eq 'edit' || funcType eq 'view'}" th:disabled="${funcType eq 'view'}" class="form-control" name="positionStatus">
              <option value="0" th:selected="*{positionStatus} == 0">在職</option>
              <option value="1" th:selected="*{positionStatus} == 1">離職</option>
              <option value="2" th:selected="*{positionStatus} == 2">留停</option>
            </select>
            <select th:if="${funcType eq 'add'}" class="form-control" name="positionStatus">
              <option value="0" selected>在職</option>
              <option value="1" >離職</option>
              <option value="2" >留停</option>
            </select>
          </div>
          
          <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-5">
            <label class="font-weight-bold"><span class="req-field">*</span>是否啟用</label>
            <div th:if="${funcType eq 'edit' || funcType eq 'view'}">
              <label><input type="radio" name="isUse" value="true" th:disabled="${funcType eq 'view'}" th:checked="*{isUse}">是</label>
              <label><input type="radio" name="isUse" value="false" th:disabled="${funcType eq 'view'}" th:checked="!*{isUse}">否</label>
            </div>
            <div th:if="${funcType eq 'add' }">
              <label><input type="radio" name="isUse" value="true" checked >是</label>
              <label><input type="radio" name="isUse" value="false" >否</label>
            </div>
          </div>
          
          <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">
            <table class="table table-responsive-sm">
              <thead>
                <tr class="center">
                  <th class="text-nowrap">權限名稱</th>
                  <th class="text-nowrap">選單名稱</th>
                  <th class="text-nowrap">權限分置</th>
                </tr>
              </thead>
              <tr th:each="permission,iter1:${permissions}" th:object="${permission}" th:if="${#lists.size(permission.details) > 0}">
                <th nowrap class="center">[[*{name}]]</th>
                <th nowrap class="center">[[*{menu.name}]]</th>
                <td>
                
                  <label th:if="${ funcType eq 'edit' || funcType eq 'view' }" th:each="detail,iter2:*{details}" th:object="${detail}" th:key="${permission.key+':'+detail.type}" >
                    <input type="checkbox" th:value="|${permission.key}:*{type}|" name="permissionDetailType" th:disabled="${funcType eq 'view'}"  
                      th:checked="${#lists.contains(mappingPermissions,permission.key+':'+detail.type)}" /> 
                      <span th:style="*{isSuperAdmin}?'color: red;':''" >[[*{name}]]</span>
                  </label>
                  
                  <label th:if="${ funcType eq 'add' }" th:each="detail,iter2:*{details}" th:object="${detail}" th:key="${permission.key+':'+detail.type}" >
                    <input type="checkbox" th:value="|${permission.key}:*{type}|" name="permissionDetailType" />
                      <span th:style="*{isSuperAdmin}?'color: red;':''" >[[*{name}]]</span>
                  </label>
                </td>
              </tr>
            </table>
          </div>
            
        </div>
      </form>
      <div th:if="${funcType eq 'edit' || funcType eq 'view'}" class="row badge-margin justify-content-center">
        <div class="badge badge-info text-wrap col-11 col-sm-11 col-md-11 col-lg-11 col-xl-5 mobile-edit">
          <span th:text="|建立時間： ${#temporals.format(employee.createDate, 'yyyy/MM/dd HH:mm:ss')}|"></span>
        </div>
        &emsp;
        <div class="badge badge-info text-wrap col-11 col-sm-11 col-md-11 col-lg-11 col-xl-5 mobile-end">
          <span th:text="|修改時間： ${#temporals.format(employee.modifyDate, 'yyyy/MM/dd HH:mm:ss')}|"></span>
        </div>
      </div>
          
      <div th:if="${funcType eq 'edit' || funcType eq 'add'}"><div class="line"></div></div>
      <div th:if="${funcType eq 'edit' || funcType eq 'add'}" class="row col justify-content-center">
        <button type="button" onclick="submin_form()" class="btn btn-primary btn-sm">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>送出
        </button>
      </div>
      
    </div>
  </div> </div> </div>
</body>
</html>