<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head> <meta charset="UTF-8" > </head>

<body layout:fragment="content">
  <script>
  delete_position = function(positionId , positionName){
    showConfirmDialog('確認刪除','確定要刪除 ' + positionName + ' 的職位嗎?',function(){
      $.ajax({
        type: 'DELETE',
        url: "/position/delete/" + positionId,
        dataType: 'json',
        success: function(result){
          location.reload();
        }
      });
    });
  }
  </script>
  <div class="row"> <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6"> <div class="card">
    <div class="card-header" toggleId="l-line-user-toggle">
      <span class="glyphicon glyphicon-align-justify"></span>職階管理 - 列表
      <a th:href="@{/position/add}" class="btn btn-primary a-btn-second btn-sm">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>新增
      </a>
    </div>
    <div class="card-body" toggleId="l-line-user-toggle">
      <table class="table table-hover table-responsive-sm">
        <thead class="center">
          <tr>
            <th scope="col">操作</th>
            <th scope="col">職稱</th>
          </tr>
        </thead>
        <tbody class="center">
          <tr th:each="position:${positions}" th:object="${position}">
            <td>
              <a class="btn btn-sm btn-secondary" th:href="@{/position/view/__*{id}__}" >
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>檢視
              </a>
              <a class="btn btn-success btn-sm" th:href="@{/position/edit/{empId}(empId=*{id})}" >
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改
              </a>
              <a class="btn btn-danger btn-sm" th:onclick="|delete_position(__*{id}__,'__*{name}__')|" href="javascript:;" >
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>刪除
              </a>
            </td>
            <td>
              <span th:text="*{name}" ></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div></div></div>
</body>
</html>