<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head> <meta charset="UTF-8" > </head>

<body layout:fragment="content" th:object="${position}">
  <script>
  submin_form = function(){
    var jsonData = $("#position_form").toJson();
    console.log(jsonData)
    $.ajax({
      type: 'POST',
      url: "/position/save",
      data: jsonData,
      dataType: 'json',
      success: (result) => {
        if(result.status == 'success'){
          window.location.replace("/position/view/" + result.data.id);
        }else{
          alert(result.msg);
        }
      }
    });
  }
  </script>

  <div class="row"> <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> <div class="col">
    <div class="card">
      <div th:if="${funcType eq 'add'}" class="card-header" toggleId="u_position">
        <span class="glyphicon glyphicon-align-justify"></span>職階管理 - 新增
      </div>
      <div th:if="${funcType eq 'edit'}" class="card-header" toggleId="u_position">
        <span class="glyphicon glyphicon-align-justify"></span>職階管理 - 編輯
      </div>
      <div th:if="${funcType eq 'view'}" class="card-header" toggleId="u_position">
        <span class="glyphicon glyphicon-align-justify"></span>職階管理 - 檢視
        <a class="btn btn-success a-btn-second btn-sm" th:href="@{/position/edit/{id}(id=*{id})}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改 </a>
      </div> 
      <div class="card-body" toggleId="u_position">
        <form id="position_form" >
          <input type="hidden" th:if="${funcType eq 'edit' || funcType eq 'view'}" name="id" th:value="*{id}" />
          <div class="row" >
            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-6" >
              <label class="font-weight-bold">職稱</label>
              <input th:if="${funcType eq 'add'}" type="text" class="form-control" name="name" />
              <input th:if="${funcType eq 'edit' || funcType eq 'view'}" th:disabled="${funcType eq 'view'}" type="text" class="form-control" name="name" th:value="*{name}"/>
            </div>
            
            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-6" >
              <label class="font-weight-bold">預設</label>
              <div th:if="${funcType eq 'add'}">
                <label><input type="radio" name="isDefault" value="true"  >是</label>
                <label><input type="radio" name="isDefault" value="false" checked>否</label>
              </div>
              <div th:if="${funcType eq 'edit' || funcType eq 'view'}">
                <label><input type="radio" name="isDefault" value="true"  th:disabled="${funcType eq 'view'}" th:checked="*{isDefault}">是</label>
                <label><input type="radio" name="isDefault" value="false" th:disabled="${funcType eq 'view'}" th:checked="!*{isDefault}">否</label>
              </div>
            </div>
            </div>
            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 m-4">
              <table class="table table-responsive-sm">
                <thead>
                  <tr class="center">
                    <th>選單名稱</th>
                    <th>權限分置</th>
                  </tr>
                </thead>
                <tr th:each="permission,iter1:${permissions}" th:object="${permission}">
                  <th nowrap class="center" >[[*{menu.name}]]</th>
                  <td th:if="${funcType eq 'add'}">
                    <label th:each="detail:*{details}" th:object="${detail}">
                      <input type="checkbox" th:value='|{"permissionId":${permission.id},"permissionDetailType":"*{type}"}|' 
                        JsonValue="true" name="permission" />[[*{name}]]
                    </label>
                  </td>
                  <td th:if="${funcType eq 'edit' || funcType eq 'view'}">
                    <label th:each="detail:*{details}" th:object="${detail}">
                      <input type="checkbox" th:value='|{"permissionId":${permission.id},"permissionDetailType":"*{type}"}|' 
                        th:disabled="${funcType eq 'view'}" th:checked="${#lists.contains(mappingDetail,permission.id + detail.type)}"
                        JsonValue="true" name="permission" />[[*{name}]] 
                    </label>
                  </td>
                </tr>
              </table>
            </div>
            
            <div th:if="${funcType eq 'edit' || funcType eq 'add'}" class="line"></div>
            <div th:if="${funcType eq 'edit' || funcType eq 'add'}" class="row col justify-content-center">
              <button type="button" onclick="submin_form()" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>送出
              </button>
            </div>
        </form>
      </div>
    </div>
  </div> </div> </div>
</body>
</html>