<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{comm/layout}">
<head> <meta charset="UTF-8" /> </head>

<body layout:fragment="content">
<!-- <script th:inline="javascript"> -->
<!--   var menus = [[${menus}]]; -->
<!--   console.log(menus); -->
<!-- </script> -->
  <div th:each="v1:${menus}" th:object="${v1}">
    <span th:text="*{name}"></span>
    <div th:each="v2:*{childMenus}" th:object="${v2}">
      &ensp;<span th:text="*{name}"></span>
      <div th:each="v3:${v2.childMenus}" th:object="${v3}">
        &ensp;&ensp;<span th:text="*{name}"></span>
        <div th:each="v4:*{childMenus}" th:object="${v4}">
          &ensp;&ensp;&ensp;<span th:text="*{name}"></span>
          <div th:each="v5:*{childMenus}" th:object="${v5}">
            &ensp;&ensp;&ensp;<span th:text="*{name}"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>